extends ../includes/layout.pug
block title
  title Categoria | VitaTermo
block styles
  link(rel="stylesheet", href="assets/css/products.css")
block scripts
  script(src="assets/js/shuffle.js")
  script(src="assets/js/jquery.js")
  script(src="assets/js/base.js")
block content
  section.products.is-dark
    div.wrapper.is-centered.has-spaces
      h1.title.is-medium Categorias
      ul.grid
        li.grid-item
          a.button.is-white(href="categoria.html") Aquecedores de Ar
        li.grid-item
          a.button.is-white(href="categoria.html") Desidratadores de Carcaças
        li.grid-item
          a.button.is-white(href="categoria.html") Espalha Cal
        li.grid-item
          a.button.is-white(href="categoria.html") Implementos
  article.category
    div.wrapper.is-centered.has-spaces
      h1.title.is-large Aquecedores de Ar
      h2.title.is-medium Características
      p.text Os aquecedores Vita Termo da Linha Automática, propõem um aquecimento eficiente com economia de combustível. Seu abastecimento automático pré-programado evita o desperdício desnecessário de pellets.
      ul.grid
        li.grid-item
          article.category-item
            h3.title.is-medium Capacidade do Silo
            p.text 220Kg de capacidade, que proporcionam grande conforto e uma autonomia de até 12 horas durante o aquecimento.
        li.grid-item
          article.category-item
            h3.title.is-medium Distribuição Eficaz
            p.text O nosso alimentador de pellets foi desenvolvido para um abastecimento uniforme e preciso, evitando assim possíveis desperdícios de pellets, proporcionando uma queima uniforme dentro da caixa de queima do pellets, com baixo custo e melhor eficiência.
        li.grid-item
          article.category-item
            h3.title.is-medium Pellets / Lenha
            p.text Sinta-se livre para alternar entre os tipos de combustíveis. Alterne entre os tipos de combustíveis de pellets e lenha com um simples clique no painel.
        li.grid-item
          article.category-item
            h3.title.is-medium Fácil Abastecimento
            p.text O Silo de abastecimento possui uma altura mediana capaz de proporcionar agilidade e facilidade na hora do abastecimento de pellets.
      h2.title.is-medium Características
      ul.grid
        li.grid-item
          article.category-model.is-dark
            img.img(src="media/produto.jpg", alt="")
            h3.title.is-medium VT-1000 PELLETS
            p.text Capacidade (Pellets): 200Kg #[br]Motor: 1x 3Cv #[br]Autonomia: 12 Horas
            a.link.is-upper.has-after(href="produto.html") Ver Mais +
        li.grid-item
          article.category-model.is-dark
            img.img(src="media/produto.jpg", alt="")
            h3.title.is-medium VT-1000 PELLETS
            p.text Capacidade (Pellets): 200Kg #[br]Motor: 1x 3Cv #[br]Autonomia: 12 Horas
            a.link.is-upper.has-after(href="produto.html") Ver Mais +
        li.grid-item
          article.category-model.is-dark
            img.img(src="media/produto.jpg", alt="")
            h3.title.is-medium VT-1000 PELLETS
            p.text Capacidade (Pellets): 200Kg #[br]Motor: 1x 3Cv #[br]Autonomia: 12 Horas
            a.link.is-upper.has-after(href="produto.html") Ver Mais +
        li.grid-item
          article.category-model.is-dark
            img.img(src="media/produto.jpg", alt="")
            h3.title.is-medium VT-1000 PELLETS
            p.text Capacidade (Pellets): 200Kg #[br]Motor: 1x 3Cv #[br]Autonomia: 12 Horas
            a.link.is-upper.has-after(href="produto.html") Ver Mais +
        li.grid-item
          article.category-model.is-dark
            img.img(src="media/produto.jpg", alt="")
            h3.title.is-medium VT-1000 PELLETS
            p.text Capacidade (Pellets): 200Kg #[br]Motor: 1x 3Cv #[br]Autonomia: 12 Horas
            a.link.is-upper.has-after(href="produto.html") Ver Mais +
        li.grid-item
          article.category-model.is-dark
            img.img(src="media/produto.jpg", alt="")
            h3.title.is-medium VT-1000 PELLETS
            p.text Capacidade (Pellets): 200Kg #[br]Motor: 1x 3Cv #[br]Autonomia: 12 Horas
            a.link.is-upper.has-after(href="produto.html") Ver Mais +
      div.pages
        a.sprite.is-prev(href="noticias.html") Anterior
        ul.grid.is-auto
          li.grid-item
            a.link(href="noticias.html") 1
          li.grid-item
            a.link(href="noticias.html") 2
          li.grid-item
            a.link(href="noticias.html") 3
        a.sprite.is-next(href="noticias.html") Próximo