extends ../includes/layout.pug
block title
  title Contato | VitaTermo
block styles 
  link(rel="stylesheet", href="assets/css/contact.css")
block scripts
  script(src="assets/js/jquery.js")
  script(src="assets/js/mask.js")
  script(src="assets/js/validate.js")
  script(src="assets/js/base.js")
block content
  article.contact
    div.wrapper.is-centered.has-spaces
      header.contact-header
        h1.title.is-large Formulário de Contato
        form.contact-h-form(method="post")
          ul.grid
            li.grid-item.is-half
              label.text(for="name") Nome
              input.field(id="name", name="name", type="text", required)
            li.grid-item.is-half
              label.text(for="phone") Telefone/Celular
              input.field(id="phone", name="phone", type="tel", required)
            li.grid-item
              label.text(for="email") E-mail
              input.field(id="email", name="email", type="email", required)
            li.grid-item
              label.text(for="message") Mensagem
              textarea.field(id="message", name="message", required)
            li.grid-item.is-half
              button.button(type="submit") Enviar
            li.grid-item.is-half
              div.wrapper
                span reCAPTCHA
          span.text Sua mensagem foi enviada com sucesso! #[br]Nós entraremos em contato em breve.
      section.contact-details
        ul.grid
          li.grid-item
            section.contact--detail
              h2.title.is-xsmall.is-upper Telefones
              p.text +55 (45) 99999-9999
              p.text +55 (45) 99999-9999
          li.grid-item
            section.contact--detail
              h2.title.is-xsmall.is-upper E-mail
              p.text vitatermo@vitatermo.com.br
          li.grid-item
            section.contact--detail
              h2.title.is-xsmall.is-upper Onde estamos
              p.text BR 277, km 644 - Céu Azul - PR #[br]Linha vista Alegre #[br]CEP 85.840-000
      section.contact-sellers
        h2.title.is-large Fale diretamente com um revendedor
        ul.grid
          each _ in Array(6)
            li.grid-item
              section.contact--seller.is-dark
                h2.title.is-xsmall.is-upper Rio Grande do Sul
                p.text João Silva #[br]Joosilva@gmail.com #[br]+55 (45) 99999-9999
                span.sprite.is-whats