extends ../includes/layout.pug
block title
  title Depoimentos | VitaTermo
block styles
block scripts
  script(src="assets/js/shuffle.js")
  script(src="assets/js/jquery.js")
  script(src="assets/js/base.js")
block content
  section.archive
    div.wrapper.is-centered.has-spaces
      h1.title.is-large Depoimentos
      ul.grid.is-shuffle
        each _ in Array(3)
          li.grid-item
            article.review.is-light(data-popup, data-target="#review_1")
              div.wrapper
                img.img.is-cover(src="media/lucas.jpg", alt="")
                span.sprite.is-play
              h3.title.is-xsmall Lucas da Silva
              p.text.no-1 Cascavel/PR
              p.text.no-2 "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
              p.text.no-3 27/03/2021
          li.grid-item
            article.review.is-light(data-popup, data-target="#review_1")
              div.wrapper
                img.img.is-cover(src="media/madalena.jpg", alt="")
                span.sprite.is-play
              h3.title.is-xsmall Madalena Castro
              p.text.no-1 São Miguel do Iguaçu/PR
              p.text.no-2 "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
              p.text.no-3 27/03/2021
          li.grid-item
            article.review.is-light(data-popup, data-target="#review_1")
              div.wrapper
                img.img.is-cover(src="media/bruna.jpg", alt="")
                span.sprite.is-play
              h3.title.is-xsmall Bruna Borges
              p.text.no-1 Foz do Iguaçu/PR
              p.text.no-2 "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
              p.text.no-3 27/03/2021
      div.pages
        a.sprite.is-prev(href="depoimentos.html") Anterior
        ul.grid.is-auto
          li.grid-item
            a.link(href="depoimentos.html") 1
          li.grid-item
            a.link(href="depoimentos.html") 2
          li.grid-item
            a.link(href="depoimentos.html") 3
        a.sprite.is-next(href="depoimentos.html") Próximo
block popups
  dialog.popup(id="review_1")
    figure.wrapper
      img.img.is-cover(src="media/lucas-hd.jpg", alt="")
      span.sprite.is-play-2
    h4.title.is-xsmall Lucas da Silva
    p.text.no-1 Cascavel/PR
    p.text.no-2 "Lorem Ipsum is simply dummy text of the printing and typesetting industry. "Lorem Ipsum is simply dummy text of the printing and typesetting industry."Lorem Ipsum is simply dummy text of the printing.''
    p.text.no-3 27/03/2021
    span.sprite.is-cancel
  dialog.popup(id="review-2")
    figure.wrapper
      img.img.is-cover(src="media/lucas-hd.jpg", alt="")
      span.sprite.is-play-2
    h4.title.is-xsmall Lucas da Silva
    p.text.no-1 Cascavel/PR
    p.text.no-2 "Lorem Ipsum is simply dummy text of the printing and typesetting industry. "Lorem Ipsum is simply dummy text of the printing and typesetting industry."Lorem Ipsum is simply dummy text of the printing.''
    p.text.no-3 27/03/2021
    span.sprite.is-cancel
  dialog.popup(id="review-3")
    figure.wrapper
      img.img.is-cover(src="media/lucas-hd.jpg", alt="")
      span.sprite.is-play-2
    h4.title.is-xsmall Lucas da Silva
    p.text.no-1 Cascavel/PR
    p.text.no-2 "Lorem Ipsum is simply dummy text of the printing and typesetting industry. "Lorem Ipsum is simply dummy text of the printing and typesetting industry."Lorem Ipsum is simply dummy text of the printing.''
    p.text.no-3 27/03/2021
    span.sprite.is-cancel