extends ../includes/layout.pug
block title
  title Início | Vitatermo
block styles
  link(rel="stylesheet", href="assets/css/home.css")
  style(type='text/css').
    body > .wrapper {padding-top:0}
    body > .wrapper > .layer {display:none}
block scripts
  script(src="assets/js/swiper.js")
  script(src="assets/js/jquery.js")
  script(src="assets/js/base.js")
block content
  header.welcome.is-dark.has-after
    div.wrapper.is-centered.has-spaces
      h1.title.is-xlarge Olá, seja bem-vindo(a) ao que há de mais tecnológico em aquecedores e equipamentos.
      p.text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      div.wrapper
        a.button.is-white(href="produtos.html") Conheça nossos produtos
        a.button.is-white(href="contato.html") Fale conosco
    span.layer
  section.featured
    div.wrapper.is-centered.has-spaces
      header.featured-header
        h2.title.is-large Nossos Produtos e Serviços
        p Fabricamos equipamentos para aquecer suas aves e suínos! Reformamos e transformamos seu aquecedor de qualquer marca e modelo.
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        a.button(href="produtos.html") Conhecer Produtos e Serviços
      article.featured-product.is-dark
        h2.title.is-large Aquecedor de Queima Invertida
        p.text A queima invertida diminui 78% da perda de calor para a chaminé: maior economia e eficiência no aquecimento!
        a.link.is-upper.has-after(href="produto.html") Saiba mais +
        img.img(src="media/produto-2.png", alt="")
      span.sprite.is-seal
  section.location.is-dark.has-after
    div.wrapper.is-centered
      h2.title.is-large Quem Somos
      p.text A Vita Termo é uma empresa que produz, em fábrica própria, equipamentos de aquecimento para atender aviários. #[br]Os aquecedores que fabricamos são de várias categorias, conforme a necessidade do cliente.
      a.button.is-white(href="quem-somos.html") Conheça mais sobre nossa história
    span.layer
  section.contact
    div.wrapper.is-centered.has-spaces
      header.contact-header
        h2.title.is-large Contato
        p.text Entre em contato conosco, para que possamos analisar qual categoria de aviário ou quais são os equipamentos que atenderão melhor sua estrutura. Você pode conversar diretamente com o revendedor mais próximo clicando nas cidades abaixo!
      div.contact-content
        div.grid
          div.grid-item
            h3.title.is-xsmall.is-upper Telefones
            p.text +55 (45) 99999-9999
            p.text +55 (45) 99999-9999
          div.grid-item
            h3.title.is-xsmall.is-upper Onde Estamos
            p.text BR 277, km 644 - Céu Azul - PR #[br]Linha vista Alegre #[br]CEP 85.840-000
          div.grid-item
            h3.title.is-xsmall.is-upper E-mail
            p.text vitatermo@vitatermo.com.br
        a.button(href="contato.html") Entrar em contato
      div.contact-buttons
        ul.grid
          li.grid-item
            a.button.has-sprite(href="#") Rio Grande do Sul #[span.sprite.is-whats]
          li.grid-item
            a.button.has-sprite(href="#") Santa Catarina #[span.sprite.is-whats]
          li.grid-item
            a.button.has-sprite(href="#") Minas Gerais #[span.sprite.is-whats]
          li.grid-item
            a.button.has-sprite(href="#") Paraná #[span.sprite.is-whats]
          li.grid-item
            a.button.has-sprite(href="#") Outra cidade #[span.sprite.is-whats]
          li.grid-item
            a.button.has-sprite(href="#") Ver mais cidades #[span.sprite.is-whats]
    span.layer
  section.reviews.is-dark
    div.wrapper.is-centered.has-spaces
      h2.title.is-large Depoimentos
      p.text Conheça nossos clientes. #[br]Veja como podemos também transformar seu negócio!
      div.swiper(data-name="reviews")
        ul.grid
          each _ in Array(3)
            li.grid-item
              article.review.is-light(data-popup, data-target="#review_1")
                div.wrapper
                  img.img.is-cover(src="media/lucas.jpg", alt="")
                  span.sprite.is-play
                h3.title.is-xsmall Lucas da Silva
                p.text.no-1 Cascavel/PR
                p.text.no-2 "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
            li.grid-item
              article.review.is-light(data-popup, data-target="#review_1")
                div.wrapper
                  img.img.is-cover(src="media/madalena.jpg", alt="")
                  span.sprite.is-play
                h3.title.is-xsmall Madalena Castro
                p.text.no-1 São Miguel do Iguaçu/PR
                p.text.no-2 "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
            li.grid-item
              article.review.is-light(data-popup, data-target="#review_1")
                div.wrapper
                  img.img.is-cover(src="media/bruna.jpg", alt="")
                  span.sprite.is-play
                h3.title.is-xsmall Bruna Borges
                p.text.no-1 Foz do Iguaçu/PR
                p.text.no-2 "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
      a.button.is-white(href="depoimentos.html") Ver Mais
  section.latest
    div.wrapper.is-centered.has-spaces
      h2.title.is-large Notícias
      p.text Acompanhe nossas principais informações!
      div.swiper(data-name="latest")
        ul.grid
          each _ in Array(9)
            li.grid-item
              article.card
                figure.wrapper
                  img.img.is-cover(src="media/artigo.jpg", alt="")
                h3.title.is-large Lorem Ipsum
                p.text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text.
                a.link.is-upper.has-after(href="noticia.html") Leia mais +
      a.button(href="noticias.html") Ver Mais Notícias
block popups
  dialog.popup(id="review_1")
    figure.wrapper
      img.img.is-cover(src="media/lucas-hd.jpg", alt="")
      span.sprite.is-play-2
    h4.title.is-xsmall Lucas da Silva
    p.text.no-1 Cascavel/PR
    p.text.no-2 "Lorem Ipsum is simply dummy text of the printing and typesetting industry. "Lorem Ipsum is simply dummy text of the printing and typesetting industry."Lorem Ipsum is simply dummy text of the printing.''
    p.text.no-3 27/03/2021
    span.sprite.is-cancel
  dialog.popup(id="review-2")
    figure.wrapper
      img.img.is-cover(src="media/lucas-hd.jpg", alt="")
      span.sprite.is-play-2
    h4.title.is-xsmall Lucas da Silva
    p.text.no-1 Cascavel/PR
    p.text.no-2 "Lorem Ipsum is simply dummy text of the printing and typesetting industry. "Lorem Ipsum is simply dummy text of the printing and typesetting industry."Lorem Ipsum is simply dummy text of the printing.''
    p.text.no-3 27/03/2021
    span.sprite.is-cancel
  dialog.popup(id="review-3")
    figure.wrapper
      img.img.is-cover(src="media/lucas-hd.jpg", alt="")
      span.sprite.is-play-2
    h4.title.is-xsmall Lucas da Silva
    p.text.no-1 Cascavel/PR
    p.text.no-2 "Lorem Ipsum is simply dummy text of the printing and typesetting industry. "Lorem Ipsum is simply dummy text of the printing and typesetting industry."Lorem Ipsum is simply dummy text of the printing.''
    p.text.no-3 27/03/2021
    span.sprite.is-cancel