extends ../includes/layout.pug
block title
  title Notícias | VitaTermo
block styles
block scripts
  script(src="assets/js/shuffle.js")
  script(src="assets/js/jquery.js")
  script(src="assets/js/base.js")
block content
  section.archive
    div.wrapper.is-centered.has-spaces
      h1.title.is-large Notícias
      ul.grid.is-shuffle
        each _ in Array(9)
          li.grid-item
            article.card
              figure.wrapper
                img.img.is-cover(src="media/artigo.jpg", alt="")
              h3.title.is-large Lorem Ipsum
              p.text.no-1 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text.
              p.text.no-2 27/03/2021
              a.link.is-upper.has-after(href="noticia.html") Leia mais +
      div.pages
        a.sprite.is-prev(href="noticias.html") Anterior
        ul.grid.is-auto
          li.grid-item
            a.link(href="noticias.html") 1
          li.grid-item
            a.link(href="noticias.html") 2
          li.grid-item
            a.link(href="noticias.html") 3
        a.sprite.is-next(href="noticias.html") Próximo