extends ../includes/layout.pug
block title
  title Notícia | VitaTermo
block styles
block scripts
  script(src="assets/js/jquery.js")
  script(src="assets/js/base.js")
block content
  article.article
    div.wrapper.is-centered.has-spaces
      span.text 27/03/2021
      h1.title.is-large Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      img.img(src="media/noticia.jpg", alt="")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ullamcorper sit amet risus nullam. Nullam vehicula ipsum a arcu cursus vitae congue mauris. Quis enim lobortis scelerisque fermentum dui faucibus in ornare quam. Amet justo donec enim diam vulputate ut pharetra. Id diam maecenas ultricies mi eget mauris pharetra. Nisi lacus sed viverra tellus in hac habitasse. Ultrices sagittis orci a scelerisque purus semper. Lobortis elementum nibh tellus molestie nunc. Velit aliquet sagittis id consectetur. Massa sed elementum tempus egestas sed sed risus pretium. Risus pretium quam vulputate dignissim suspendisse in est. Netus et malesuada fames ac. Dictumst vestibulum rhoncus est pellentesque. Vel turpis nunc eget lorem dolor. Vitae congue mauris rhoncus aenean vel elit scelerisque mauris. Commodo sed egestas egestas fringilla phasellus. Id diam vel quam elementum pulvinar etiam non quam lacus. Rutrum quisque non tellus orci ac auctor augue mauris.
      p Blandit aliquam etiam erat velit scelerisque in dictum non consectetur. Viverra mauris in aliquam sem fringilla ut. Ac turpis egestas integer eget aliquet nibh praesent tristique magna. Lectus quam id leo in vitae turpis massa sed elementum. Vel risus commodo viverra maecenas accumsan. Dui ut ornare lectus sit amet est. Faucibus purus in massa tempor nec feugiat nisl. Eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Felis eget velit aliquet sagittis id consectetur purus ut. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Amet luctus venenatis lectus magna fringilla urna porttitor. Aliquam faucibus purus in massa tempor nec feugiat. Ac orci phasellus egestas tellus rutrum tellus pellentesque eu.
      p Magna eget est lorem ipsum dolor sit amet consectetur. Laoreet sit amet cursus sit amet dictum. Et malesuada fames ac turpis egestas maecenas. Ultrices tincidunt arcu non sodales neque sodales ut etiam. Adipiscing tristique risus nec feugiat in fermentum posuere urna nec. Massa placerat duis ultricies lacus sed turpis. Diam sollicitudin tempor id eu. Vel quam elementum pulvinar etiam non. Urna id volutpat lacus laoreet non curabitur gravida arcu. Quam vulputate dignissim suspendisse in est ante. Pulvinar neque laoreet suspendisse interdum consectetur. Morbi tristique senectus et netus et malesuada fames ac turpis. Lorem ipsum dolor sit amet consectetur adipiscing elit duis tristique. Orci nulla pellentesque dignissim enim.
      p Nunc sed id semper risus in hendrerit gravida rutrum quisque. Est ullamcorper eget nulla facilisi etiam dignissim. Mauris pharetra et ultrices neque ornare aenean euismod elementum. Pretium lectus quam id leo in vitae turpis massa. Velit sed ullamcorper morbi tincidunt ornare massa eget. Consequat id porta nibh venenatis. Tempor commodo ullamcorper a lacus vestibulum sed. Libero enim sed faucibus turpis in eu mi bibendum. Tempor id eu nisl nunc. At ultrices mi tempus imperdiet nulla malesuada pellentesque. Lacus viverra vitae congue eu consequat ac felis donec. Imperdiet dui accumsan sit amet nulla facilisi morbi tempus.