extends ../includes/layout.pug
block title
  title Produtos | VitaTermo
block styles
  link(rel="stylesheet", href="assets/css/products.css")
block scripts
  script(src="assets/js/shuffle.js")
  script(src="assets/js/jquery.js")
  script(src="assets/js/base.js")
block content
  section.products.is-dark
    div.wrapper.is-centered.has-spaces
      h1.title.is-large Conheça nossos produtos
      p.text Selecione uma categoria abaixo e veja os produtos que temos para você! 
      ul.grid
        li.grid-item
          a.button.is-white(href="categoria.html") Aquecedores de Ar
        li.grid-item
          a.button.is-white(href="categoria.html") Desidratadores de Carcaças
        li.grid-item
          a.button.is-white(href="categoria.html") Espalha Cal
        li.grid-item
          a.button.is-white(href="categoria.html") Implementos
  section.services
    div.wrapper.is-centered.has-spaces
      h2.title.is-large Conheça nossos serviços
      ul.grid.is-shuffle
        li.grid-item
          article.services-item
            h3.title.is-medium Transformação e Reformas de Aquecedores
            p.text Pensando no meio ambiente e na sustentabilidade, também realizamos os  serviços de reforma de aquecedores, de qualquer marca ou modelo, otimizando os custos e melhorando os benefícios para você.
            img.img.is-cover(src="media/servico.jpg", alt="")
        li.grid-item
          article.services-item
            h3.title.is-medium Assistência Técnica
            p.text Conte conosco para uma assistência completa 24 horas, com prestação de serviços em geral, profissionais treinados e altamente qualificados. Garantia de cuidado e o melhor serviço.
            img.img.is-cover(src="media/servico.jpg", alt="")