extends ../includes/layout.pug
block title
  title Categoria | VitaTermo
block styles
  link(rel="stylesheet", href="assets/css/products.css")
block scripts
  script(src="assets/js/swiper.js")
  script(src="assets/js/jquery.js")
  script(src="assets/js/validate.js")
  script(src="assets/js/base.js")
block content
  section.products.is-dark
    div.wrapper.is-centered.has-spaces
      h1.title.is-medium Categorias
      ul.grid
        li.grid-item
          a.button.is-white(href="categoria.html") Aquecedores de Ar
        li.grid-item
          a.button.is-white(href="categoria.html") Desidratadores de Carcaças
        li.grid-item
          a.button.is-white(href="categoria.html") Espalha Cal
        li.grid-item
          a.button.is-white(href="categoria.html") Implementos
  article.product
    div.wrapper.is-centered.has-spaces
      figure.product-images
        div.swiper(data-name="product")
          ul.grid
            each _ in Array(4)
              li.grid-item
                a.link(href="media/produto.jpg")
                  img.img(src="media/produto.jpg", alt="")
      div.product-content
        h1.title.is-medium VT-1200 PELLETS/LENHA
        p.title.is-xsmall Especificações
        p.text Dimensões (C x L x A): 3.40x1.25x2.10m #[br]Capacidade (Pellets): 220Kg #[br]Motor: 1x 5Cv #[br]Foguista: 1x 1/3Cv #[br]Motor/Redutor:1x 0,75Cv #[br]Rotor: 1x 500mm #[br]Autonomia: 10 Horas
        form.product-c-contact.is-dark(action="post")
          p.title.is-xsmall Preencha seus dados e solicite o contato!
          ul.grid
            li.grid-item
              input.field(name="name", type="text", placeholder="Nome", required)
            li.grid-item
              input.field(name="phone", type="tel", placeholder="Telefone", required)
            li.grid-item
              input.field(name="email", type="email", placeholder="E-mail", required)
            li.grid-item
              button.button.is-white(type="submit") Solicitar contato
          button.button(type="button") Solicitar orçamento
          span.text Seus dados foram enviados com sucesso, em breve entraremos em contato!
      div.product-sections
        h2.title.is-medium.is-upper Dados Técnicos
        ul.grid
          li.grid-item
            section.product--section
              h3.title.is-medium Construtivos
              p.text 1.1 Motorização: #[br]5cv na Turbina #[br]3/4cv na Alimentação de Pellets #[br]1/3cv no foguista #[br]1.2 Carcaça: Desmontável, construído em aço carbono SAE 1020 #[br]1.3 Fornalha: #[br]Corpo Interno – Construída em chapas 3.75mm astm-A36 #[br]Corpo Externo – Construída em chapas 2.00 mm SAE 1020 #[br]1.4 Serpentina de troca de calor: Construída em tubo industrial aço carbono medidas 76.20 x 4,75 mm SAE 1020 #[br]1.5 Porta: construída em ferro fundido nodular de 440mm de diâmetro #[br]1.6 Grelhas: Construída em Aço Carbono 3/16 #[br]1.7 Chaminé: Construída em aço carbono SAE 1020 com 3mm. #[br]1.8 Revestimento chaminé: Construído em aço galvanizado 0,50mm #[br]1.9 Sistema de Soldagem: por solda MIG com dupla soldagem nas áreas de maior impacto térmico. #[br]1.10 Pintura: em esmalte sintético na cor metálica resistente a altas temperaturas. #[br]1.11 Painel de Controle: por componentes elétricos WEG com proteção falta fase e sobrecarga. #[br]1.12 Rotor: 490mm de diâmetro com 12 apás #[br]1.13 Dimensão: 3.30 x 1.25 x 2.10m #[br]1.14 Peso: 1090 kg
          li.grid-item
            section.product--section
              h3.title.is-medium Construtivos
              p.text 2.1 – Instalação externa ou interna #[br]2.2 – Alimentação de pellets automático #[br]2.3 – Capacidade do silo: 280 kg #[br]2.4 – Consumo de pellets: 20 a 25 kg/hora #[br]2.5 – Autonomia de trabalho: Aproximadamente 12h #[br]2.6 – Foguista automático #[br]2.7 – Comprimento de lenha: 1.20m #[br]2.8 – Vazão 6.000 m³/hora. #[br]2.9 – Distribuição de ar H ou U #[br]2.10 – Área de pinteiro: 450 m² #[br]2.11 – Volume de ar do pinteiro: 1.350m³ #[br]2.12 – Consumo de energia: 4,2 KW/h #[br]2.13 – Temperatura média de trabalho: 100 a 120 graus #[br]2.14 – Temperatura máxima de trabalho: 130 graus #[br]2.15 – Dimensões do abrigo: 6m x 3.5m x 2.40m (C x L x A)