extends ../includes/layout.pug
block title
  title Quem Somos | VivaMax
block scripts
  script(src="assets/js/jquery.js")
  script(src="assets/js/base.js")
block content
  article.wrapper
    header.location.is-dark.is-header.has-after
      div.wrapper.is-centered
        h2.title.is-large Quem Somos
        p VITA TERMO AQUECEDORES & EQUIPAMENTOS - Céu Azul/PR
        p Somos uma empresa que produz em nossa fábrica, equipamentos para atender os aviários. Os aquecedores que fabricamos são de várias categorias, conforme a sua necessidade.
        p Entre em contato conosco que analisaremos qual ou quais são os equipamentos que atenderão melhor sua estrutura.
    div.values
      div.wrapper.is-centered.has-spaces
        ul.grid
          li.grid-item
            article.values-item.is-dark
              h2.title.is-xsmall.is-upper MISSÃO
              p.text Nossa missão é atender as necessidades dos produtores de aves com qualidade e garantia nos equipamentos que fabricamos.
              span.sprite.is-mission
          li.grid-item
            article.values-item.is-dark
              h2.title.is-xsmall.is-upper VISÃO
              p.text Implementar em todos os produtores que ainda não conhecem nosso produto, mostrando a qualidade e diferencial na utlização de nossos equipamentos fabricados.
              span.sprite.is-vision
          li.grid-item
            article.values-item.is-dark
              h2.title.is-xsmall.is-upper VALORES
              p.text Comprometimento, respeito e ética para com todos as pessoas.
              span.sprite.is-values