/*
Theme Name: theme-vitatermo
Theme URI: http://wordpress.org/
Description: Thema para uso da Empresa Vivamax
Author: 14bis
Version: 1.0
License: Vitatermo
Tags: vitatermo
*/

.product-title{
    width: 53%;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    OVERFLOW: HIDDEN;
    HEIGHT: 65PX;	
}