//

$red-base: #e6434b;
$red-light: #FF333D;

$blue-base: #1b516f;
$blue-dark: #074364;

$green-base: #1E6E44;
$green-dark: #164e31;

$gray-dark: #505050;
$gray-light: #707070;

$orange-base: #F58634;