

// IMPORTS

@import '_normalize.scss';
@import '_fonts.scss';
@import '_colors.scss';


// RESET


* {
  box-sizing: border-box;
}

body {
  
  min-width: 320px;
  color: $gray-dark;
  font: 300 normal 16px/26px 'Roboto', sans-serif;
  letter-spacing: .01rem;
  
  > .wrapper {
    
    position: relative;
    overflow: hidden;
    z-index: 2;
    
    > .layer {
      position: absolute;
      top: -50px;
      right: 0;
      left: 0;
      z-index: 2;
      background: url('../img/separator-04.png') no-repeat center / 125% 100%;
      height: 100px;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
    }
    
  }
  
  @media (min-width: 1000px) {
    
    > .wrapper {
      
      padding-top: 142px;
      
      > .layer {
        top: 60px;
        height: 150px;
        background-size: 100% 100%;
      }
      
    }
    
    
  }
  
}

p, ul, ol {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
}

a {
  color: $gray-dark;
  transition: color 0.25s;
  &:hover,
  &:active {
    color: $green-base;
  }
}


// BLOCKS


.wrapper {
  
  display: block;
  
  &.is-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  &.has-spaces {
    padding: 50px 30px;
  }
  
  @media (min-width: 800px) {
    
    &.is-centered {
      width: 750px;
      margin: 0 auto;
    }
    
    &.has-spaces {
      padding: 65px 20px;
    }
    
  }
  
  @media (min-width: 1000px) {
    
    &.is-centered {
      width: 900px;
    }
    
  }
  
  @media (min-width: 1200px) {
    
    &.is-centered {
      width: 1050px;
    }
    
    &.has-spaces {
      padding: 80px 10px;
    }
    
  }
  
  @media (min-width: 1400px) {
    
    &.is-centered {
      width: 1200px;
    }
    
  }
  
}


.title {
  
  display: block;
  margin: 0 0 0 -0.01em;
  color: $green-base;
  font-weight: 900;
  letter-spacing: .02rem;
  
  &.is-mini {
    color: $red-base;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }
  
  &.is-xsmall {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  
  &.is-small {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }
  
  &.is-medium {
    font-size: 20px;
    line-height: 28px;
  }
  
  &.is-large {
    font-size: 24px;
    line-height: 31px;
  }
  
  &.is-xlarge {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }
  
  @media (min-width: 800px) {
    
    &.is-medium {
      font-size: 22px;
      line-height: 30px;
    }
    
    &.is-large {
      font-size: 28px;
      line-height: 35px;
    }
    
    &.is-xlarge {
      font-size: 36px;
      line-height: 44px;
    }
    
  }
  
  @media (min-width: 1200px) {
    
    &.is-medium {
      font-size: 24px;
      line-height: 32px;
    }
    
    &.is-large {
      font-size: 32px;
      line-height: 39px;
    }
    
    &.is-xlarge {
      font-size: 40px;
      line-height: 48px;
    }
    
  }
  
}


.text {
  
  display: block;
  margin: 0;
  
  &.is-small {
    font-size: 14px;
    line-height: 18px;
  }
  
  &.is-xsmall {
    font-size: 12px;
    line-height: 15px;
  }
  
}


.field {
  
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  background: none;
  color: $gray-dark;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid $gray-light;
  outline: 0;
  transition: color .25s, border-color .25s, background-color .25s;
  
  &.is-textarea {
    max-width: 100%;
    min-width: 100%;
  }
  
  &.error {
    border-color: red !important;
  }
  
  @at-root .field + label.error {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 500;
    font-size: 10px;
    background: red;
    line-height: 14px;
    padding: 0 4px;
    border-radius: 0 0 0 4px;
  }
  
}


.button {
  
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  padding: 15px 25px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  background: $green-base;
  border: none;
  letter-spacing: 0.03rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: color .25s, background-color .25s, box-shadow 0.25s;
  
  &:hover, &:active, &.is-active {
    color: $green-base;
    background-color: #eee;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  
  &.is-white {
    
    color: $green-base;
    background: #fff;
    
    &:hover, &:active, &.is-active {
      color: #fff;
      background-color: $green-dark;
    }
    
  }
  
  &.has-sprite {
    
    display: flex;
    align-items: center;
    
    > .sprite {
      flex-shrink: 0;
    }
    
  }
  
}


.grid {
  
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  
  > .grid-item {
    display: block;
    width: 100%;
  }
  
  &.is-auto {
    
    > .grid-item {
      width: auto;
    }
    
  }
  
}


.link {
  
  display: block;
  text-decoration: none;
  
  &.is-super {
    font-weight: 700;
    text-transform: uppercase;
  }
  
  &.has-sprite {
    
    display: flex;
    align-items: center;
    
    > .sprite {
      flex-shrink: 0;
    }
    
  }
  
}


.sprite {
  
  display: block;
  background: url('../img/sprites.png') no-repeat 0 0;
  
  @at-root button.sprite {
    border: 0;
    outline: 0;
    appearance: none;
  }
  
  &.is-logo {
    width: 270px;
    height: 85px;
  }
  
  &.is-wlogo {
    width: 270px;
    height: 85px;
    background-position: 0 -86px;
  }
  
  &.is-face {
    width: 24px;
    height: 24px;
    background-position: -271px 0;
  }
  
  &.is-insta {
    width: 24px;
    height: 24px;
    background-position: -296px 0;
  }
  
  &.is-wface {
    width: 50px;
    height: 50px;
    background-position: -321px 0;
  }
  
  &.is-winsta {
    width: 50px;
    height: 50px;
    background-position: -372px 0;
  }
  
  &.is-whats {
    width: 24px;
    height: 24px;
    background-position: -423px 0;
  }
  
  &.is-play {
    width: 30px;
    height: 30px;
    background-position: -448px 0;
  }
  
  &.is-play-2 {
    width: 76px;
    height: 76px;
    background-position: -321px -51px;
  }
  
  &.is-prev {
    width: 32px;
    height: 32px;
    background-position: -479px 0;
  }
  
  &.is-wprev {
    width: 32px;
    height: 32px;
    background-position: -479px -33px;
  }
  
  &.is-next {
    width: 32px;
    height: 32px;
    background-position: -512px 0;
  }
  
  &.is-wnext {
    width: 32px;
    height: 32px;
    background-position: -512px -33px;
  }
  
  &.is-mission {
    width: 72px;
    height: 74px;
    background-position: -545px 0;
  }
  
  &.is-vision {
    width: 95px;
    height: 45px;
    background-position: -618px 0;
  }
  
  &.is-values {
    width: 96px;
    height: 51px;
    background-position: -714px 0;
  }
  
  &.is-seal {
    width: 600px;
    height: 600px;
    background-position: 0 -172px;
  }
  
  &.is-cancel {
    width: 25px;
    height: 25px;
    background-position: -398px -51px;
  }
  
}


.img {
  
  display: block;
  width: 100%;
  object-fit: contain;
  
  &.is-cover {
    height: 100%;
    object-fit: cover;
  }
  
}


.layer {
  display: block;
  pointer-events: none;
}


// MODULES


.swiper {
  
  position: relative;
  overflow: hidden;
  z-index: 1;
  
  > .grid {
    
    flex-wrap: nowrap;
    box-sizing: content-box;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    transform: translate3d(0px, 0, 0);
    transition-property: transform;
    
    > .grid-item {
      position: relative;
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      transition-property: transform;
    }
    
  }
  
  > .sprite {
    display: none;
  }
  
  &.is-fade {
    
    > .grid {
      
      > .grid-item {
        
        transition-timing-function: ease-out;
        pointer-events: none;
        transition-property: opacity;
        
        &.is-active {
          pointer-events: auto;
        }
        
      }
      
    }
    
  }
  
  &.is-auto {
    
    > .grid {
      
      align-items: flex-start;
      transition-property: transform, height;
      
      > .grid-item {
        height: auto;
      }
      
    }
    
  }
  
  @at-root .swiper-bullets {
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    > .bullet {
      
      display: block;
      width: 12px;
      height: 12px;
      margin: 0 4px;
      border-radius: 3px;
      background: transparent;
      border: 1px solid $green-base;
      cursor: pointer;
      
      &.is-active {
        background-color: $orange-base;
      }
      
    }
    
  }
  
  @at-root .swiper-arrow {
    
    position: absolute;
    z-index: 2;
    top: calc(50% - 1.5rem);
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background: #ddd;
    transition: opacity 0.25s;
    cursor: pointer;
    
    > .sprite {
      position: absolute;
      top: calc(50% - 10px);
    }

    &.is-prev {
      left: 0;

      > .sprite {
        left: calc(50% - 7px);
      }
    }

    &.is-next {
      right: 0;

      > .sprite {
        right: calc(50% - 7px);
      }
    }

    &.is-disabled {
      opacity: 0.5;
    }
    
  }
  
  @media (min-width: 1000px) {
    
    > .sprite {
      
      display: block;
      position: absolute;
      top: calc(50% - 26px);
      z-index: 9;
      overflow: hidden;
      text-indent: -99px;
      padding: 0;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color .25s;
      
      &:hover, &:active {
        background-color: rgba(0, 0, 0, .25);
      }
      
      &.is-prev, &.is-wprev {
        left: -40px;
      }
      
      &.is-next, &.is-wnext {
        right: -40px;
      }
      
    }
    
  }
  
}


.burger {
  
  display: flex;
  align-items: center;
  padding: 5px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  
  > .text {
    margin-top: 2px;
    margin-right: 10px;
    text-transform: uppercase;
    color: $green-base;
    font-weight: 600;
    line-height: 1;
  }
  
  > .layer {
    
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background: $green-base;
    border-radius: 2px;
    
    &::before, &::after {
      position: absolute;
      right: 0;
      left: 0;
      height: 3px;
      background: $green-base;
      content: '';
      border-radius: 2px;
    }
    
    &::before {
      top: -8px;
    }
    
    &::after {
      bottom: -8px;
    }
    
  }
  
  &.is-closed {
    
    > .layer {
      
      background: transparent;
      
      &::before, &::after {
        position: absolute;
        right: 0;
        left: 0;
        height: 3px;
        background: $green-base;
      }
      
      &::before {
        top: -8px;
      }
      
      &::after {
        bottom: -8px;
      }
      
    }
    
  }
  
}


.review {
  
  position: relative;
  overflow: hidden;
  padding: 20px;
  text-align: left;
  cursor: pointer;
  background: #fff;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, .15);
  transition: box-shadow .25s, background-color .25s;
  
  > .wrapper {
    
    position: relative;
    overflow: hidden;
    height: 170px;
    margin-bottom: 25px;
    background: #000;
    
    > .img {
      position: relative;
      z-index: 1;
      object-position: center top;
      opacity: .75;
      transition: opacity .25s, transform .25s;
      transform: scale3d(1, 1, 1);
      backface-visibility: hidden;
    }
    
    > .sprite {
      position: absolute;
      top: calc(50% - 15px);
      left: calc(50% - 15px);
      z-index: 2;
    }
    
  }
  
  > .title {
    color: $gray-dark !important;
  }
  
  > .text {
    
    &.no-1 {
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 10px;
    }
    
    &.no-3 {
      margin-top: 25px;
      color: $orange-base;
      font-weight: 900;
    }
    
  }
  
  &:hover, &:active {
    
    background-color: #eee;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    
    > .wrapper {
      
      > .img {
        opacity: .75;
        transform: scale3d(1.1, 1.1, 1.1);
      }
      
    }
    
  }
  
  &:active {
    background-color: #eee;
  }
  
  @media (min-width: 800px) {
    padding: 25px;
  }
  
  @media (min-width: 1200px) {
    padding: 30px;
  }
  
}


.card {
  
  position: relative;
  overflow: hidden;
  padding: 25px 20px 80px;
  text-align: left;
  background: #fff;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, .15);
  transition: background-color .25s, box-shadow .25s;
  
  > .wrapper {
    
    overflow: hidden;
    height: 220px;
    margin: 0 0 10px;
    
    > .img {
      transform: scale3d(1, 1, 1);
      transition: transform .25s;
    }
    
  }
  
  > .title {
    color: $gray-dark;
    margin-bottom: 5px;
  }
  
  > .text {
    
    &.no-2 {
      position: absolute;
      right: 25px;
      bottom: 25px;
      font-weight: 600;
      color: $green-base;
    }
    
  }
  
  > .link {
    
    position: absolute;
    left: 25px;
    bottom: 25px;
    font-weight: 600;
    color: $green-base;
    
    &::after {
      top: -999px;
      right: -999px;
      bottom: -99px;
      left: -999px;
    }
    
  }
  
  &:hover, &:active {
    
    background-color: #eee;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    
    > .wrapper {
      
      > .img {
        transform: scale3d(1.1, 1.1, 1.1);
      }
      
    }
    
  }
  
  @media (min-width: 1200px) {
    padding: 30px 25px 90px;
  }
  
}


.pages {
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  
  .sprite, .link {
    
    transition: background-color .25s;
    
    &:hover, &:active {
      background-color: $orange-base;
    }
    
  }
  
  > .sprite {
    overflow: hidden;
    text-indent: -999px;
    border-radius: 50%;
  }
  
  > .grid {
    
    padding: 0 20px;
    
    > .grid-item {
      
      padding: 0 4px;
      
      > .link {
        width: 32px;
        color: $green-base;
        font-weight: 600;
        line-height: 28px;
        text-align: center;
        border: 2px solid;
        border-radius: 50%;
      }
      
    }
    
  }
  
}


// MODIFIERS


.is-upper {
  text-transform: uppercase;
}


.is-dark {
  
  background: $green-base;
  color: #f7f7f7;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  
  .link {
    color: #fff;
  }
  
  .title {
    
    color: #fff;
    
    &.is-mini {
      color: $red-base;
    }
    
  }
  
  .field {
    
    color: #fff;
    border-color: #fff;
    
    &::-webkit-input-placeholder {
      color: #fff;
    }
    
    &::placeholder {
      color: #fff;
    }
    
  }
  
}


.is-light {
  
  color: $gray-dark;
  background: #fff;
  text-shadow: none !important;
  
  .title {
    color: $green-base;
  }
  
}


.has-before {
  
  position: relative;
  
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
  }
  
}


.has-after {
  position: relative;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
  }
}


.has-shadow {
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.175);
}


// COMPONENTS


.header {
  
  position: relative;
  overflow: hidden;
  z-index: 3;
  background: #fff;
  
  > .wrapper {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
    
    > .link {
      overflow: hidden;
      width: 270px;
      height: 85px;
      margin-bottom: 20px;
    }
    
    @at-root .header-info {
      
      > .grid {
        
        align-items: center;
        margin: -4px -8px;
        
        > .grid-item {
          
          padding: 2px 4px;
          
          &:nth-child(2) {
            display: none;
          }
          
          > .link, > .text {
            padding: 2px 4px;
          }
          
          > .link {
            
            &.has-sprite {
              
              overflow: hidden;
              width: 32px;
              height: 28px;
              
              > .sprite {
                margin-right: 4px;
              }
              
            }
            
          }
          
        }
        
      }
      
    }
    
    @at-root .header-menu {
      display: none;
    }
    
    > .burger {
      margin: 15px 0 -5px;
    }
    
  }
  
  @media (min-width: 600px) {
    
    > .wrapper {
      
      @at-root .header-info {
        
        > .grid {
          
          > .grid-item {
            
            &:nth-child(2) {
              display: block;
            }
            
          }
          
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 800px) {
    
    > .wrapper {
      
      position: relative;
      padding: 15px 20px;
      
      @at-root .header-info {
        width: 100%;
      }
      
      > .burger {
        position: absolute;
        right: 20px;
        bottom: 17px;
      }
      
    }
    
  }
  
  @media (min-width: 1000px) {
    
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    transition: transform .25s;
    
    > .wrapper {
      
      position: relative;
      align-items: flex-end;
      padding-bottom: 30px;
      
      > .link {
        position: absolute;
        bottom: 30px;
        left: 20px;
        margin-bottom: 0;
        transform: scale3d(1, 1, 1);
        backface-visibility: hidden;
        transition: transform .25s, left .25s, bottom .25s;
      }
      
      @at-root .header-info {
        
        order: 1;
        width: 500px;
        padding-bottom: 15px;
        margin-bottom: 35px;
        border-bottom: 1px solid #505050;
        
        > .grid {
          
          > .grid-item {
            
            &:nth-child(2) {
              margin: 0 auto;
            }
            
          }
          
        }
        
      }
      
      @at-root .header-menu {
        
        order: 2;
        display: block;
        width: 500px;
        
        > .grid {
          
          justify-content: space-between;
          margin: -4px -8px;
          
          > .grid-item {
            
            padding: 2px 4px;
            
            > .link {
              
              padding: 2px 4px;
              line-height: 22px;
              
              &.is-active {
                color: $green-base;
                font-weight: 600;
              }
              
            }
            
          }
          
        }
        
      }
      
      > .burger {
        display: none;
      }
      
    }
    
    &.is-scroll {
      
      transform: translate3d(0, -60px, 0);
      
      > .wrapper {
        
        > .link {
          bottom: -1px;
          left: -15px;
          transform: scale3d(.75, .75, .75);
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 1200px) {
    
    > .wrapper {
      
      padding: 15px 10px 30px;
      
      > .link {
        left: 10px;
      }
      
      @at-root .header-info {
        width: 535px;
      }
      
      @at-root .header-menu {
        width: 535px;
      }
      
    }
    
    &.is-scroll {
      
      > .wrapper {
        
        > .link {
          left: -25px;
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 1400px) {
    
    > .wrapper {
      
      @at-root .header-info {
        width: 570px;
      }
      
      @at-root .header-menu {
        width: 570px;
      }
      
    }
    
  }
  
}


.location {
  
  position: relative;
  overflow: hidden;
  padding-top: 65px;
  background: #000;
  
  > .wrapper {
    
    position: relative;
    z-index: 3;
    padding: 80px 30px;
    
    > .title {
      margin-bottom: 25px;
    }
    
    > p {
      
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      
    }
    
    > .button {
      margin-top: 50px;
    }
    
  }
  
  &::after {
    z-index: 1;
    opacity: .75;
    background: url('../img/home-about-hd.jpg') center / cover;
  }
  
  > .layer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background: url('../img/separator-02.png') no-repeat center bottom / 100% 100%;
    height: 130px;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
  }
  
  &.is-header {
    
    padding-top: 0;
    
    > .wrapper {
      padding-top: 90px;
      padding-bottom: 60px;
    }
    
  }
  
  @media (min-width: 800px) {
    
    padding-top: 90px;
    
    > .wrapper {
      padding: 130px 200px 130px 20px;
    }
    
    > .layer {
      height: 180px;
    }
    
    &.is-header {
      
      > .wrapper {
        padding-top: 110px;
        padding-bottom: 100px;
      }
      
    }
    
  }
  
  @media (min-width: 1000px) {
    
    > .wrapper {
      padding-right: 300px;
    }
    
  }
  
  @media (min-width: 1200px) {
    
    padding-top: 115px;
    
    > .wrapper {
      padding: 180px 400px 180px 10px;
    }
    
    > .layer {
      height: 230px;
    }
    
    &.is-header {
      
      > .wrapper {
        padding-top: 150px;
        padding-bottom: 160px;
      }
      
    }
    
  }
  
  @media (min-width: 1400px) {
    
    > .wrapper {
      padding-right: 500px;
    }
    
  }
  
}


.values {
  
  > .wrapper {
    
    > .grid {
      
      margin: -10px;
      
      > .grid-item {
        
        padding: 100px 10px 10px;
        
        @at-root .values-item {
          
          position: relative;
          min-height: 100%;
          padding: 25px 20px;
          text-align: center;
          box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.25);
          
          > .title {
            margin-bottom: 15px;
          }
          
          > .sprite {
            
            position: absolute;
            
            &.is-mission {
              top: -100px;
              left: calc(50% - 36px);
            }
            
            &.is-vision {
              top: -80px;
              left: calc(50% - 47.5px);
            }
            
            &.is-values {
              top: -85px;
              left: calc(50% - 48px);
            }
            
          }
          
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 1000px) {
    
    > .wrapper {
      
      > .grid {
        
        > .grid-item {
          width: 33.33333%;
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 1200px) {
    
    > .wrapper {
      
      padding-bottom: 100px;
      
      > .grid {
        
        margin: -15px;
        
        > .grid-item {
          
          padding: 100px 15px 15px;
          
          @at-root .values-item {
            padding: 30px 25px;
          }
          
        }
        
      }
      
    }
    
  }
  
}


.archive {
  
  position: relative;
  
  > .wrapper {
    
    > .title {
      margin-bottom: 40px;
    }
    
    > .grid {
      
      overflow: visible !important;
      margin: -10px;
      
      > .grid-item {
        padding: 10px;
      }
      
    }
    
  }
  
  @media (min-width: 600px) {
    
    > .wrapper {
      
      > .grid {
        
        > .grid-item {
          width: 50%;
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 800px) {
    
    > .wrapper {
      padding-top: 90px;
    }
    
  }
  
  @media (min-width: 1000px) {
    
    > .wrapper {
      
      > .grid {
        
        > .grid-item {
          width: 33.33333%;
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 1200px) {
    
    > .wrapper {
      
      padding-top: 115px;
      padding-bottom: 95px;
      
      > .grid {
        
        margin: -15px;
        
        > .grid-item {
          padding: 15px;
        }
        
      }
      
    }
    
  }
  
}


.article {
  
  position: relative;
  overflow: hidden;
  
  > .wrapper {
    
    padding-top: 90px;
    
    > .text {
      text-align: center;
      margin-bottom: 30px;
    }
    
    > .title {
      margin-bottom: 30px;
    }
    
    > .img {
      margin-bottom: 35px;
    }
    
    > p {
      
      &:not(:last-of-type) {
        margin-bottom: 25px;
      }
      
    }
    
  }
  
  @media (min-width: 800px) {
    
    > .wrapper {
      
      width: 600px;
      padding-top: 120px;
      padding-bottom: 100px;
      
      > .text {
        margin-bottom: 40px;
      }
      
      > .title {
        margin-bottom: 35px;
      }
      
      > .img {
        margin-bottom: 45px;
      }
      
    }
    
  }
  
  @media (min-width: 1200px) {
    
    > .wrapper {
      
      width: 700px;
      padding-top: 150px;
      padding-bottom: 135px;
      
      > .text {
        margin-bottom: 50px;
      }
      
      > .title {
        margin-bottom: 40px;
        line-height: 45px;
      }
      
      > .img {
        margin-bottom: 55px;
      }
      
    }
    
  }
  
}


.footer {
  
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-align: center;
  
  > .wrapper {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px 10px;
    
    > .link {
      overflow: hidden;
      width: 270px;
    }
    
    > .grid {
      
      justify-content: center;
      margin: 20px -15px -10px;
      
      > .grid-item {
        
        padding: 5px 10px;
        
        > .link {
          padding: 5px;
          font-weight: 600;
          text-transform: uppercase;
        }
        
      }
      
      &.no-1 {
        
        > .grid-item {
          
          > .link {
            
            overflow: hidden;
            width: 60px;
            height: 60px;
            
            > .sprite {
              margin-right: 10px;
            }
            
          }
          
        }
        
      }
      
    }
    
    > .text {
      margin-top: 30px;
      font-size: 13px;
      line-height: 18px;
    }
    
  }
  
  @media (min-width: 600px) {
    
    > .wrapper {
      
      flex-direction: row;
      flex-wrap: wrap;
      
      > .grid {
        
        &.no-1 {
          margin: -10px -15px -10px auto;
        }
        
        &.no-2 {
          width: calc(100% + 30px);
        }
        
      }
      
      > .text {
        width: 100%;
      }
      
    }
    
  }
  
  @media (min-width: 800px) {
    
    > .wrapper {
      
      padding: 60px 20px 10px;
      
      > .text {
        margin-top: 30px;
      }
      
    }
    
  }
  
  @media (min-width: 1000px) {
    
    > .wrapper {
      
      > .link {
        order: 1;
      }
      
      > .grid {
        
        &.no-1 {
          order: 3;
          margin-left: -15px;
        }
        
        &.no-2 {
          order: 2;
          width: calc(100% - 420px);
          margin: -10px auto;
          justify-content: space-evenly;
        }
        
      }
      
      > .text {
        order: 4;
      }
      
    }
    
  }
  
  @media (min-width: 1200px) {
    
    > .wrapper {
      
      padding: 70px 10px 10px;
      
      > .text {
        margin-top: 40px;
      }
      
    }
    
  }
  
}


.mobile {
  
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: auto;
  height: auto;
  border: none;
  background: rgba($green-dark, .9);
  opacity: 0;
  pointer-events: none;
  transform: scale3d(1.25, 1.25, 1.25);
  backface-visibility: hidden;
  will-change: transform;
  transition: opacity .25s, transform .25s;
  
  > .sprite {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    opacity: .1;
    pointer-events: none;
    transform: translate(-50%, -50%);
  }
  
  @at-root body.is-mobile .mobile {
    opacity: 1;
    pointer-events: auto;
    transform: scale3d(1, 1, 1);
  }
  
  > .grid {
    
    position: relative;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    
    > .grid-item {
      
      width: auto;
      padding: 10px;
      
      > .link {
        
        position: relative;
        padding: 10px;
        color: $orange-base;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        
        &::before, &::after {
          content: '';
          position: absolute;
          right: 10px;
          left: 10px;
          height: 2px;
          opacity: 0;
          background: #fff;
          transform: translate3d(0, 0, 0);
          backface-visibility: hidden;
          transition: transform .25s, opacity .25s;
          pointer-events: none;
        }
        
        &::before {
          top: -5px;
        }
        
        &::after {
          bottom: -5px;
        }
        
        &.is-active {
          font-weight: 700;
        }
        
        &:hover {
          
          color: #fff;
          
          &::before, &::after {
            opacity: 1;
          }
          
          &::before {
            transform: translate3d(0, 5px, 0);
          }
          
          &::after {
            transform: translate3d(0, -5px, 0);
          }
          
        }
        
      }
      
    }
    
  }
  
  > .burger {
    
    margin-top: auto;
    padding-right: 0;
    
    > .text {
      color: #fff;
      margin-right: 15px;
    }
    
    > .layer {
      
      &::before, &::after {
        background: #fff;
      }
      
      &::before {
        transform: rotate(45deg) translateY(11px);
      }
      
      &::after {
        transform: rotate(-45deg) translateY(-11px);
      }
      
    }
    
  }
  
}


.overlay {
  
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 8;
  pointer-events: none;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  transition: opacity .25s;
  
  @at-root body.is-popup .overlay {
    opacity: 1;
    pointer-events: auto;
  }
  
}


.popup {
  
  display: block;
  position: fixed;
  overflow: auto;
  top: 50%;
  left: 50%;
  z-index: 9;
  width: calc(100% - 60px);
  max-height: 100vh;
  padding: 60px 30px 30px;
  background: #fff;
  border: 0;
  pointer-events: none;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, .1);
  transform: translate(-50%, -50%);
  opacity: 0;
  outline: 0;
  transition: opacity .25s;
  
  > .wrapper {
    
    position: relative;
    overflow: hidden;
    height: 330px;
    margin: 0 0 15px;
    background: #000;
    
    > .img {
      position: relative;
      z-index: 1;
      opacity: .75;
      transform: scale3d(1, 1, 1);
      backface-visibility: hidden;
      transition: opacity .25s, transform .25s;
    }
    
    > .sprite {
      position: absolute;
      top: calc(50% - 38px);
      left: calc(50% - 38px);
      z-index: 2;
    }
    
    &:hover, &:active {
      
      > .img {
        transform: scale3d(1.1, 1.1, 1.1);
      }
      
    }
    
    &:active {
      
      > .img {
        opacity: .5;
      }
      
    }
    
  }
  
  > .title {
    color: $gray-dark;
    font-weight: 900;
  }
  
  > .text {
    
    &.no-1 {
      margin-bottom: 10px;
      font-size: 12px;
    }
    
    &.no-2 {
      margin-bottom: 25px;
    }
    
    &.no-3 {
      color: $orange-base;
      font-weight: 600;
    }
    
  }
  
  > .sprite {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  @at-root body.is-popup .popup {
    opacity: 1;
    pointer-events: auto;
  }
  
  @media (min-width: 800px) {
    
    width: 670px;
    padding: 45px 80px;
    
    > .wrapper {
      height: 380px;
    }
    
    > .sprite {
      top: 20px;
      right: 20px;
    }
    
  }
  
  @media (min-width: 1200px) {
    
    width: 970px;
    padding: 50px 100px;
    
    > .wrapper {
      height: 430px;
    }
    
    > .sprite {
      top: 25px;
      right: 25px;
    }
    
  }
  
}

