

// IMPORTS


@import '_colors.scss';


// COMPONENTS


.contact {
  
  > .wrapper {
    
    @at-root .contact-header {
      
      margin-bottom: 40px;
      
      > .title {
        margin-bottom: 20px;
      }
      
      @at-root .contact-h-form {
        
        position: relative;
        
        > .grid {
          
          position: relative;
          z-index: 1;
          margin: -10px;
          opacity: 1;
          transition: opacity .25s;
          
          > .grid-item {
            
            position: relative;
            padding: 10px;
            
            > .text {
              margin-bottom: 10px;
            }
            
            > textarea {
              height: 110px;
              min-height: 110px;
              max-height: 110px;
              min-width: 100%;
              max-width: 100%;
            }
            
            > label.error {
              color: #fff;
              top: 42px;
              right: 10px;
            }
            
            > .button {
              width: 100%;
            }
            
            > .wrapper {
              height: 52px;
              padding: 15px 20px;
              background: #eee;
            }
            
          }
          
        }
        
        > .text {
          position: absolute;
          top: 50%;
          right: 0;
          left: 0;
          transform: translateY(-50%);
          opacity: 0;
          transition: opacity .25s;
        }
        
        &.is-send {
          
          > .grid {
            opacity: 0;
            pointer-events: none;
          }
          
          > .text {
            opacity: 1;
            text-align: center;
          }
          
        }
        
      }
      
    }
    
    @at-root .contact-details {
      
      > .grid {
        
        margin: -10px;
        
        > .grid-item {
          
          padding: 10px;
          
          @at-root .contact--detail {
            
            > .title {
              margin-bottom: 15px;
              color: $gray-dark;
            }
            
            > .text {
              
              margin-bottom: 5px;
              line-height: 24px;
              
              &:last-of-type {
                margin-bottom: 0;
              }
              
            }
            
          }
          
        }
        
      }
      
    }
    
    @at-root .contact-sellers {
      
      margin-top: 40px;
      
      > .title {
        margin-bottom: 30px;
      }
      
      > .grid {
        
        margin: -10px;
        
        > .grid-item {
          
          padding: 10px;
          
          @at-root .contact--seller {
            
            position: relative;
            padding: 20px 64px 20px 20px;
            box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.25);
            
            > .title {
              margin-bottom: 10px;
            }
            
            > .text {
              line-height: 24px;
            }
            
            > .sprite {
              position: absolute;
              top: calc(50% - 12px);
              right: 20px;
            }
            
          }
          
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 500px) {
    
    > .wrapper {
      
      @at-root .contact-details {
      
        > .grid {
          
          > .grid-item {
            width: 50%;
          }
          
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 600px) {
    
    > .wrapper {
      
      @at-root .contact-header {
        
        @at-root .contact-h-form {
          
          > .grid {
            
            > .grid-item {
              
              &.is-half {
                width: 50%;
              }
              
            }
            
          }
          
          > .text {
            
          }
          
        }
        
      }
      
      @at-root .contact-sellers {
        
        > .grid {
          
          > .grid-item {
            width: 50%;
          }
          
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 800px) {
    
    > .wrapper {
      
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      
      @at-root .contact-header {
        width: 50%;
        padding-right: 10px;
        margin-bottom: 0;
      }
      
      @at-root .contact-details {
        
        width: 50%;
        padding-left: 40px;
        
        > .grid {
          
          > .grid-item {
            width: 100%;
          }
          
        }
        
      }
      
      @at-root .contact-sellers {
        width: 100%;
        margin-top: 45px;
      }
      
    }
    
  }
  
  @media (min-width: 1000px) {
    
    > .wrapper {
      
      @at-root .contact-sellers {
        
        > .grid {
          
          > .grid-item {
            width: 33.33333%;
          }
          
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 1200px) {
    
    > .wrapper {
      
      @at-root .contact-header {
        padding-right: 15px;
      }
      
      @at-root .contact-details {
        padding-left: 80px;
      }
      
      @at-root .contact-sellers {
      
        margin-top: 50px;
        
        > .grid {
          
          margin: -15px;
          
          > .grid-item {
            
            padding: 15px;
            
            @at-root .contact--seller {
              padding: 20px 69px 20px 25px;
            }
            
          }
          
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 1400px) {
    
    > .wrapper {
      
      @at-root .contact-sellers {
        
        > .grid {
          
          > .grid-item {
            width: 25%;
          }
          
        }
        
      }
      
    }
    
  }
  
}
