

// IMPORTS


@import '_colors.scss';


// COMPONENTS


.welcome {
  
  position: relative;
  overflow: hidden;
  padding-bottom: 65px;
  text-align: center;
  background: #000;
  
  > .wrapper {
    
    position: relative;
    z-index: 3;
    
    > .title {
      margin-bottom: 20px;
    }
    
    > .text {
      margin-bottom: 50px;
    }
    
    > .wrapper {
      
      display: flex;
      flex-direction: column;
      align-items: center;
      
      > .button {
        
        width: 270px;
        
        &:first-child {
          margin-bottom: 20px;
        }
        
      }
      
    }
    
  }
  
  > .layer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: url('../img/separator-01.png') no-repeat center bottom / 100%;
    height: 130px;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
  }
  
  &::after {
    z-index: 1;
    background: $green-base url('../img/home-welcome.jpg') no-repeat center / cover;
    opacity: .5;
  }
  
  @media (min-width: 600px) {
    
    text-align: left;
    
    > .wrapper {
      
      > .wrapper {
        
        flex-direction: row;
        
        > .button {
          
          &:first-child {
            margin: 0 30px 0 0;
          }
          
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 800px) {
    
    padding-bottom: 90px;
    
    > .wrapper {
      padding-right: 200px;
    }
    
    > .layer {
      height: 180px;
    }
    
  }
  
  @media (min-width: 1000px) {
    
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding-top: 140px;
    
    > .wrapper {
      padding-right: 300px;
    }
    
    &::after {
      top: 85px;
    }
    
  }
  
  @media (min-width: 1200px) {
    
    padding-bottom: 110px;
    
    > .wrapper {
      padding-right: 400px;
    }
    
    > .layer {
      height: 230px;
    }
    
  }
  
  @media (min-width: 1400px) {
    
    > .wrapper {
      padding-right: 500px;
    }
    
  }
  
}


.featured {
  
  position: relative;
  z-index: 9;
  
  > .wrapper {
    
    position: relative;
    
    @at-root .featured-header {
      
      margin-bottom: 30px;
      
      > .title {
        margin-bottom: 30px;
      }
      
      > p {
        
        &:not(:last-of-type) {
          margin-bottom: 20px;
        }
        
      }
      
      > .button {
        margin-top: 30px;
      }
      
    }
    
    @at-root .featured-product {
      
      position: relative;
      overflow: hidden;
      padding: 40px;
      box-shadow: 0 0 8px 2px rgba(0, 0, 0, .15);
      transition: background-color .25s, box-shadow .25s;
      
      &:hover, &:active {
        background-color: $green-dark;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      }
      
      > .title {
        margin-bottom: 15px;
      }
      
      > .text {
        margin-bottom: 35px;
      }
      
      > .link {
        
        position: static;
        margin-bottom: 5px;
        font-weight: 600;
        
        &::after {
          pointer-events: auto;
        }
        
      }
      
      > .img {
        height: 220px;
      }
      
    }
    
    > .sprite {
      position: absolute;
      right: 60%;
      bottom: -250px;
      z-index: 1;
      transform: scale(.7, .7);
    }
    
  }
  
  @media (min-width: 800px) {
    
    > .wrapper {
      
      @at-root .featured-header {
        
        > .button {
          margin-top: 40px;
        }
        
      }
      
      @at-root .featured-product {
        padding: 45px;
      }
      
      > .sprite {
        right: 85%;
        bottom: -225px;
        transform: scale(.8, .8);
      }
      
    }
    
  }
  
  @media (min-width: 1000px) {
    
    > .wrapper {
      
      display: flex;
       
      @at-root .featured-header {
        width: 50%;
        padding: 45px 30px 0 0;
      }
      
      @at-root .featured-product {
        width: 50%;
      }
      
    }
    
  }
  
  @media (min-width: 1200px) {
    
    > .wrapper {
      
      @at-root .featured-header {
        
        > .button {
          margin-top: 50px;
        }
        
      }
      
      @at-root .featured-product {
        padding: 50px;
      }
      
      > .sprite {
        right: 101%;
        bottom: -300px;
        transform: scale(.9, .9);
      }
      
    }
    
  }
  
}


.contact {
  
  position: relative;
  z-index: 9;
  
  > .wrapper {
    
    @at-root .contact-header {
      
      text-align: center;
      margin-bottom: 35px;
      
      > .title {
        margin-bottom: 20px;
      }
      
    }
    
    @at-root .contact-content {
      
      margin-bottom: 35px;
      
      > .grid {
        
        margin: -10px;
        
        > .grid-item {
          
          padding: 10px;
          
          > .title {
            margin-bottom: 15px;
          }
          
          > .text {
            
            &:not(:last-of-type) {
              margin-bottom: 8px;
            }
            
          }
          
        }
        
      }
      
      > .button {
        width: 270px;
        margin-top: 35px;
      }
      
    }
    
    @at-root .contact-buttons {
      
      > .grid {
        
        margin: -10px;
        
        > .grid-item {
          
          padding: 10px;
          
          > .button {
            
            width: 100%;
            padding: 25px;
            
            &:hover, &:active, &.is-active {
              color: #fff;
              background-color: $green-dark;
            }
            
            > .sprite {
              margin-left: auto;
            }
            
          }
          
        }
        
      }
      
    }
    
  }
  
  > .layer {
    position: absolute;
    right: 0;
    bottom: -130px;
    left: 0;
    z-index: 2;
    background: url('../img/separator-03.png') no-repeat center bottom / 100% 100%;
    height: 130px;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
  }
  
  @media (min-width: 600px) {
    
    > .wrapper {
      
      @at-root .contact-content {
        
        > .grid {
          
          > .grid-item {
            width: 50%;
          }
          
        }
        
      }
      
      @at-root .contact-buttons {
        
        > .grid {
          
          > .grid-item {
            width: 50%;
          }
          
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 800px) {
    
    > .wrapper {
      
      @at-root .contact-header {
        margin-bottom: 45px;
      }
      
      @at-root .contact-content {
        
        margin-bottom: 45px;
        
        > .button {
          margin-top: 40px;
        }
        
      }
      
    }
    
    > .layer {
      bottom: -180px;
      height: 180px;
    }
    
  }
  
  @media (min-width: 1000px) {
    
    > .wrapper {
      
      display: flex;
      flex-wrap: wrap;
      
      @at-root .contact-header {
        width: 100%;
        max-width: 770px;
        margin-right: auto;
        margin-left: auto;
      }
      
      @at-root .contact-content {
        
        width: 40%;
        padding-right: 40px;
        margin-bottom: 0;
        
        > .grid {
          
          > .grid-item {
            width: 100%;
          }
          
        }
        
      }
      
      @at-root .contact-buttons {
        width: 60%;
      }
      
    }
    
  }
  
  @media (min-width: 1200px) {
    
    > .wrapper {
      
      @at-root .contact-header {
        margin-bottom: 55px;
      }
      
      @at-root .contact-content {
        
        width: 45%;
        padding-right: 60px;
        
        > .grid {
          
          margin: -15px;
          
          > .grid-item {
            width: 50%;
            padding: 15px;
          }
          
        }
        
        > .button {
          margin-top: 45px;
        }
        
      }
      
      @at-root .contact-buttons {
        
        width: 55%;
        
        > .grid {
          
          margin: -15px;
          
          > .grid-item {
            padding: 15px;
          }
          
        }
        
      }
      
    }
    
    > .layer {
      bottom: -230px;
      height: 230px;
    }
    
  }
  
  @media (min-width: 1400px) {
    
    > .wrapper {
      
      @at-root .contact-content {
        width: 50%;
        padding-right: 80px;
      }
      
      @at-root .contact-buttons {
        width: 50%;
      }
      
    }
    
  }
  
}


.reviews {
  
  position: relative;
  padding-top: 80px;
  text-align: center;
  
  > .wrapper {
    
    > .title {
      margin-bottom: 25px;
    }
    
    > .text {
      margin-bottom: 40px;
    }
    
    > .swiper {
      
      overflow: visible;
      margin: 0 -10px 40px;
      
      > .grid {
        
        > .grid-item {
          padding: 0 10px;
        }
        
      }
      
      @at-root .reviews .swiper-bullets {
        
        margin-top: 25px;
        
        > .bullet {
          border-color: #fff;
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 800px) {
    
    > .wrapper {
      
      padding-top: 100px;
      
      > .text {
        margin-bottom: 50px;
      }
      
      > .swiper {
        
        > .grid {
          
          > .grid-item {
            
            opacity: 0;
            transition: opacity .25s;
            
            &.is-visible {
              opacity: 1;
            }
            
          }
          
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 1200px) {
    
    > .wrapper {
      
      padding-top: 140px;
      
      > .text {
        margin-bottom: 60px;
      }
      
      > .swiper {
        
        margin: 0 -15px 40px;
        
        > .grid {
          
          > .grid-item {
            padding: 0 15px;
          }
          
        }
        
      }
      
    }
    
  }
  
}


.latest {
  
  position: relative;
  text-align: center;
  
  > .wrapper {
    
    > .title {
      margin-bottom: 20px;
    }
    
    > .text {
      margin-bottom: 35px;
    }
    
    @at-root .latest .swiper {
      
      overflow: visible;
      margin: 0 -10px 30px;
      
      > .grid {
        
        > .grid-item {
          padding: 0 10px;
        }
        
      }
      
      @at-root .latest .swiper-bullets {
        margin-top: 25px;
      }
      
    }
    
  }
  
  @media (min-width: 800px) {
    
    > .wrapper {
      
      > .text {
        margin-bottom: 45px;
      }
      
      @at-root .latest .swiper {
        
        margin-bottom: 35px;
        
        > .grid {
          
          > .grid-item {
            
            opacity: 0;
            transition: opacity .25s;
            
            &.is-visible {
              opacity: 1;
            }
            
          }
          
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 1200px) {
    
    > .wrapper {
      
      > .text {
        margin-bottom: 55px;
      }
      
      @at-root .latest .swiper {
        
        margin: 0 -15px 40px;
        
        > .grid {
        
          > .grid-item {
            padding: 0 15px;
          }
          
        }
        
      }
      
    }
    
  }
  
}



