

// IMPORTS


@import '_colors.scss';


// COMPONENTS


.privacy {
  
  position: relative;
  overflow: hidden;
  
  > .wrap {
    
    @at-root .privacy-header {
      
      margin-bottom: 48px;
      
      > .heading {
        margin-bottom: 24px;
      }
      
      @at-root .privacy-h-links {
        
        > .grid {
          
          margin: -5px -10px;
          
          > .grid-item {
            
            padding: 5px 10px;
            
            > .link {
              
              font-size: 14px;
              line-height: 18px;
              transition: color .25s, font-weight .25s;
              
              &.is-active {
                font-weight: 700;
              }
              
            }
            
          }
          
        }
        
      }
      
    }
    
    .swiper {
      
      > .grid {
        
        > .grid-item {
          
          @at-root .privacy-section {
            
            > .title {
              
              margin-bottom: 5px;
              
              &:not(:first-child) {
                margin-top: 24px;
              }
              
            }
            
          }
          
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 800px) {
    
    padding-top: 87px;
    
    > .wrap {
      
      @at-root .privacy-header {
        
        @at-root .privacy-h-links {
          
          > .grid {
            
            margin: -5px -20px;
            
            > .grid-item {
              padding: 5px 20px;
            }
            
          }
          
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 800px) {
    
    > .wrap {
      
      @at-root .privacy-header {
        
        @at-root .privacy-h-links {
          
          > .grid {
            
            margin: -5px -30px;
            
            > .grid-item {
              padding: 5px 30px;
            }
            
          }
          
        }
        
      }
      
    }
    
  }
  
}

