

@import '_colors.scss';


.products {
  
  > .wrapper {
    
    > .title {
      margin-bottom: 20px;
    }
    
    > .text {
      margin-bottom: 40px;
    }
    
    > .grid {
      
      flex-direction: column;
      margin: -10px;
      
      > .grid-item {
        
        padding: 10px;
        
        > .button {
          width: 100%;
          padding: 15px;
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 600px) {
    
    > .wrapper {
      
      > .grid {
        
        flex-direction: row;
        
        > .grid-item {
          
          width: 50%;
          
          > .button {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 800px) {
    
    > .wrapper {
      
      > .text {
        margin-bottom: 45px;
      }
      
    }
    
  }
  
  @media (min-width: 1200px) {
    
    > .wrapper {
      
      padding-bottom: 60px;
      
      > .text {
        margin-bottom: 50px;
      }
      
      > .grid {
        
        margin: -15px;
        
        > .grid-item {
          width: 25%;
          padding: 15px;
        }
        
      }
      
    }
    
  }
  
}


.services {
  
  > .wrapper {
    
    > .title {
      margin-bottom: 20px;
    }
    
    > .grid {
      
      margin: -10px;
      
      > .grid-item {
        
        padding: 10px;
        
        @at-root .services-item {
          
          > .title {
            margin-bottom: 15px;
            color: $gray-dark;
          }
          
          > .text {
            margin-bottom: 30px;
          }
          
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 800px) {
    
    > .wrapper {
      
      padding-bottom: 90px;
      
      > .grid {
        
        > .grid-item {
          
          width: 50%;
          
          @at-root .services-item {
            
            > .text {
              margin-bottom: 35px;
            }
            
          }
          
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 1200px) {
    
    > .wrapper {
      
      padding-bottom: 115px;
      
      > .grid {
        
        margin: -15px;
        
        > .grid-item {
          
          padding: 15px;
          
          @at-root .services-item {
            
            > .title {
              font-size: 24px;
              line-height: 32px;
            }
            
            > .text {
              margin-bottom: 40px;
            }
            
          }
          
        }
        
      }
      
    }
    
  }
  
}


.category {
  
  > .wrapper {
    
    > .title {
      
      &.is-large {
        color: $gray-dark;
        margin-bottom: 20px;
      }
      
      &.is-medium {
        
        margin-bottom: 25px;
        font-weight: 500;
        
        &:first-of-type {
          color: $gray-dark;
        }
        
      }
      
    }
    
    > .text {
      margin-bottom: 30px;
    }
    
    > .grid {
      
      margin: -10px;
      
      &:not(:last-of-type) {
        margin-bottom: 35px;
      }
      
      > .grid-item {
        
        padding: 10px;
        
        @at-root .category-item {
          
          position: relative;
          overflow: hidden;
          min-height: 100%;
          padding: 20px 25px;
          background: #fff;
          box-shadow: 0 0 8px 2px rgba(0, 0, 0, .15);
          
          > .title {
            margin-bottom: 10px;
            color: $orange-base;
            font-weight: 900;
          }
          
        }
        
        @at-root .category-model {
          
          position: relative;
          overflow: hidden;
          min-height: 100%;
          padding: 20px 25px;
          box-shadow: 0 0 8px 2px rgba(0, 0, 0, .25);
          transition: background-color .25s, box-shadow .25s;
          
          &:hover, &:active {
            background-color: $green-dark;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          }
          
          > .img {
            height: 200px;
            margin-bottom: 15px;
            background: #fff;
          }
          
          > .title {
            margin-bottom: 15px;
            font-weight: 900;
          }
          
          > .text {
            margin-bottom: 15px;
          }
          
          > .link {
            
            position: static;
            color: $orange-base;
            font-weight: 600;
            
            &::after {
              pointer-events: auto;
            }
            
          }
          
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 600px) {
    
    > .wrapper {
      
      > .grid {
        
        > .grid-item {
          
          @at-root .category-model {
            
            padding-right: 50%;
            
            > .img {
              position: absolute;
              height: calc(100% - 40px);
              width: calc(50% - 50px);
              top: 20px;
              right: 25px;
              bottom: 20px;
              margin-bottom: 0;
            }
            
            > .title {
              margin-bottom: 15px;
            }
            
            > .text {
              margin-bottom: 15px;
            }
            
            > .link {
              
              position: static;
              color: $orange-base;
              font-weight: 600;
              
              &::after {
                pointer-events: auto;
              }
              
            }
            
          }
          
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 800px) {
    
    > .wrapper {
      
      > .grid {
        
        &:not(:last-of-type) {
          margin-bottom: 40px;
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 1000px) {
    
    > .wrapper {
      
      > .grid {
        
        > .grid-item {
          
          width: 50%;
          
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 1200px) {
    
    > .wrapper {
      
      padding-bottom: 100px;
      
      > .grid {
        
        margin: -15px;
        
        &:not(:last-of-type) {
          margin-bottom: 45px;
        }
        
        > .grid-item {
          
          padding: 15px;
          
          @at-root .category-item {
            padding: 25px 30px;
          }
          
          @at-root .category-model {
            
            padding: 25px 30px;
            
            > .img {
              position: absolute;
              height: calc(100% - 50px);
              width: calc(50% - 60px);
              top: 25px;
              right: 30px;
              bottom: 25px;
            }
            
          }
          
        }
        
      }
      
    }
    
  }
  
}


.product {
  
  > .wrapper {
    
    @at-root .product-images {
      
      margin: 0 0 50px;
      
      > .swiper {
        
        &:nth-child(1) {
          
          background: #fff;
          box-shadow: 0 0 8px 2px rgba(0, 0, 0, .15);
          margin-bottom: 20px;
          
          > .grid {
            
            > .grid-item {
              
              > .link {
                
                > .img {
                  height: 360px;
                  padding: 20px;
                }
                
              }
              
            }
            
          }
          
        }
        
        &:nth-child(2) {
          
          overflow: visible;
          margin: 0 -10px;
          
          > .grid {
          
            > .grid-item {
              
              padding: 0 10px;
              
              > .link {
                
                height: 70px;
                padding: 5px 10px;
                background: #fff;
                border: 2px solid #fff;
                box-shadow: 0 0 8px 2px rgba(0, 0, 0, .15);
                transition: border-color .25s, box-shadow .25s;
                
                &.is-active {
                  border-color: $orange-base;
                  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                }
                
                > .img {
                  height: 100%;
                }
                
              }
              
            }
            
          }
          
        }
        
      }
      
    }
    
    @at-root .product-content {
      
      > .title {
        
        &.is-medium {
          margin-bottom: 20px;
        }
        
        &.is-xsmall {
          margin-bottom: 15px;
          color: $orange-base;
        }
        
      }
      
      > .text {
        margin-bottom: 40px;
      }
      
      @at-root .product-c-contact {
        
        position: relative;
        overflow: hidden;
        width: 270px;
        height: 52px;
        padding: 0;
        text-align: center;
        transition: width .5s, height .5s, padding .5s;
        
        > .title {
          position: relative;
          z-index: 1;
          margin-bottom: 20px;
          font-weight: 300;
          opacity: 0;
          transition: opacity .25s;
        }
        
        > .grid {
          
          position: relative;
          z-index: 1;
          flex-direction: column;
          align-items: center;
          margin: -5px;
          opacity: 0;
          transition: opacity .25s;
          
          > .grid-item {
            
            position: relative;
            width: auto;
            padding: 5px;
            
            > .field {
              
              width: 270px;
              height: 60px;
              
              &.valid, &.error, &:focus {
                background-color: rgba(0, 0, 0, .25);
              }
              
            }
            
            > .button {
              width: 270px;
            }
            
            > label.error {
              top: 5px;
              right: 5px;
            }
            
          }
          
        }
        
        > .button {
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 9;
          width: 270px;
          opacity: 1;
          transform: translate(-50%, -50%);
          transition: opacity .25s;
        }
        
        > .text {
          position: absolute;
          top: 50%;
          right: 20px;
          left: 20px;
          z-index: 8;
          opacity: 0;
          transform: translate(0, -50%);
          transition: opacity .25s;
          pointer-events: none;
        }
        
        &.is-open {
          
          width: 370px;
          height: 362px;
          padding: 30px;
          
          > .title {
            opacity: 1;
          }
          
          > .grid {
            opacity: 1;
          }
          
          > .button {
            opacity: 0;
            pointer-events: none;
          }
          
        }
        
        &.is-send {
          
          width: 370px;
          height: 102px;
          
          > .title {
            opacity: 0;
          }
          
          > .grid {
            opacity: 0;
          }
          
          > .button {
            opacity: 0;
            pointer-events: none;
          }
          
          > .text {
            opacity: 1;
          }
          
        }
        
      }
      
    }
    
    @at-root .product-sections {
      
      margin-top: 50px;
      
      > .title {
        margin-bottom: 20px;
      }
      
      > .grid {
        
        margin: -10px -20px;
        
        > .grid-item {
          
          padding: 10px 20px;
          
          @at-root .product--section {
            
            > .title {
              margin-bottom: 15px;
              color: $orange-base;
            }
            
          }
          
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 800px) {
    
    > .wrapper {
      
      @at-root .product-sections {
        
        margin-top: 55px;
        
        > .grid {
          
          > .grid-item {
            width: 50%;
          }
          
        }
        
      }
      
    }
    
  }
  
  @media (min-width: 1000px) {
    
    > .wrapper {
      
      display: flex;
      flex-wrap: wrap;
      
      @at-root .product-images {
        width: 50%;
        padding-right: 10px;
        margin: 0;
      }
      
      @at-root .product-content {
        width: 50%;
        padding-left: 10px;
      }
      
      @at-root .product-sections {
        width: 100%;
      }
      
    }
    
  }
  
  @media (min-width: 1200px) {
    
    > .wrapper {
      
      @at-root .product-images {
        padding-right: 15px;
      }
      
      @at-root .product-content {
        padding-left: 15px;
      }
      
      @at-root .product-sections {
        
        margin-top: 60px;
        
        > .grid {
          
          margin: -15px -30px;
          
          > .grid-item {
            
            padding: 15px 30px;
            
            &:nth-child(odd) {
              width: 60%;
            }
            
            &:nth-child(even) {
              width: 40%;
            }
            
          }
          
        }
        
      }
      
    }
    
  }
  
}

