html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

main {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b, strong {
	font-weight: bolder;
}

code {
	font-family: monospace, monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

img {
	border-style: none;
}

button, input, optgroup, select, textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button, input {
	overflow: visible;
}

button, select {
	text-transform: none;
}

button, [type="button"], [type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"], [type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details {
	display: block;
}

summary {
	display: list-item;
}

[hidden] {
	display: none;
}

* {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	color: #505050;
	font: 300 normal 16px/26px 'Roboto', sans-serif;
	letter-spacing: .01rem;
}

body > .wrapper {
	position: relative;
	overflow: hidden;
	z-index: 2;
}

body > .wrapper > .layer {
	position: absolute;
	top: -50px;
	right: 0;
	left: 0;
	z-index: 2;
	background: url("../img/separator-04.png") no-repeat center/125% 100%;
	height: 100px;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
}

@media (min-width: 1000px) {
	body > .wrapper {
		padding-top: 142px;
	}
	body > .wrapper > .layer {
		top: 60px;
		height: 150px;
		background-size: 100% 100%;
	}
}

p, ul, ol {
	margin: 0;
	font-size: 16px;
	line-height: 22px;
}

a {
	color: #505050;
	transition: color 0.25s;
}

a:hover, a:active {
	color: #1E6E44;
}

.wrapper {
	display: block;
}

.wrapper.is-flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.wrapper.has-spaces {
	padding: 50px 30px;
}

@media (min-width: 800px) {
	.wrapper.is-centered {
		width: 750px;
		margin: 0 auto;
	}
	.wrapper.has-spaces {
		padding: 65px 20px;
	}
}

@media (min-width: 1000px) {
	.wrapper.is-centered {
		width: 900px;
	}
}

@media (min-width: 1200px) {
	.wrapper.is-centered {
		width: 1050px;
	}
	.wrapper.has-spaces {
		padding: 80px 10px;
	}
}

@media (min-width: 1400px) {
	.wrapper.is-centered {
		width: 1200px;
	}
}

.title {
	display: block;
	margin: 0 0 0 -0.01em;
	color: #1E6E44;
	font-weight: 900;
	letter-spacing: .02rem;
}

.title.is-mini {
	color: #e6434b;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.title.is-xsmall {
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
}

.title.is-small {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}

.title.is-medium {
	font-size: 20px;
	line-height: 28px;
}

.title.is-large {
	font-size: 24px;
	line-height: 31px;
}

.title.is-xlarge {
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
}

@media (min-width: 800px) {
	.title.is-medium {
		font-size: 22px;
		line-height: 30px;
	}
	.title.is-large {
		font-size: 28px;
		line-height: 35px;
	}
	.title.is-xlarge {
		font-size: 36px;
		line-height: 44px;
	}
}

@media (min-width: 1200px) {
	.title.is-medium {
		font-size: 24px;
		line-height: 32px;
	}
	.title.is-large {
		font-size: 32px;
		line-height: 39px;
	}
	.title.is-xlarge {
		font-size: 40px;
		line-height: 48px;
	}
}

.text {
	display: block;
	margin: 0;
}

.text.is-small {
	font-size: 14px;
	line-height: 18px;
}

.text.is-xsmall {
	font-size: 12px;
	line-height: 15px;
}

.field {
	display: block;
	width: 100%;
	height: 40px;
	padding: 10px 15px;
	background: none;
	color: #505050;
	font-size: 14px;
	line-height: 20px;
	border: 1px solid #707070;
	outline: 0;
	transition: color .25s, border-color .25s, background-color .25s;
}

.field.is-textarea {
	max-width: 100%;
	min-width: 100%;
}

.field.error {
	border-color: red !important;
}

.field + label.error {
	position: absolute;
	top: 0;
	right: 0;
	font-weight: 500;
	font-size: 10px;
	background: red;
	line-height: 14px;
	padding: 0 4px;
	border-radius: 0 0 0 4px;
}

.button {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	padding: 15px 25px;
	color: #fff;
	text-align: center;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	background: #1E6E44;
	border: none;
	letter-spacing: 0.03rem;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	transition: color .25s, background-color .25s, box-shadow 0.25s;
}

.button:hover, .button:active, .button.is-active {
	color: #1E6E44;
	background-color: #eee;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.button.is-white {
	color: #1E6E44;
	background: #fff;
}

.button.is-white:hover, .button.is-white:active, .button.is-white.is-active {
	color: #fff;
	background-color: #164e31;
}

.button.has-sprite {
	display: flex;
	align-items: center;
}

.button.has-sprite > .sprite {
	flex-shrink: 0;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;
}

.grid > .grid-item {
	display: block;
	width: 100%;
}

.grid.is-auto > .grid-item {
	width: auto;
}

.link {
	display: block;
	text-decoration: none;
}

.link.is-super {
	font-weight: 700;
	text-transform: uppercase;
}

.link.has-sprite {
	display: flex;
	align-items: center;
}

.link.has-sprite > .sprite {
	flex-shrink: 0;
}

.sprite {
	display: block;
	background: url("../img/sprites.png") no-repeat 0 0;
}

button.sprite {
	border: 0;
	outline: 0;
	appearance: none;
}

.sprite.is-logo {
	width: 270px;
	height: 85px;
}

.sprite.is-wlogo {
	width: 270px;
	height: 85px;
	background-position: 0 -86px;
}

.sprite.is-face {
	width: 24px;
	height: 24px;
	background-position: -271px 0;
}

.sprite.is-insta {
	width: 24px;
	height: 24px;
	background-position: -296px 0;
}

.sprite.is-wface {
	width: 50px;
	height: 50px;
	background-position: -321px 0;
}

.sprite.is-winsta {
	width: 50px;
	height: 50px;
	background-position: -372px 0;
}

.sprite.is-whats {
	width: 24px;
	height: 24px;
	background-position: -423px 0;
}

.sprite.is-play {
	width: 30px;
	height: 30px;
	background-position: -448px 0;
}

.sprite.is-play-2 {
	width: 76px;
	height: 76px;
	background-position: -321px -51px;
}

.sprite.is-prev {
	width: 32px;
	height: 32px;
	background-position: -479px 0;
}

.sprite.is-wprev {
	width: 32px;
	height: 32px;
	background-position: -479px -33px;
}

.sprite.is-next {
	width: 32px;
	height: 32px;
	background-position: -512px 0;
}

.sprite.is-wnext {
	width: 32px;
	height: 32px;
	background-position: -512px -33px;
}

.sprite.is-mission {
	width: 72px;
	height: 74px;
	background-position: -545px 0;
}

.sprite.is-vision {
	width: 95px;
	height: 45px;
	background-position: -618px 0;
}

.sprite.is-values {
	width: 96px;
	height: 51px;
	background-position: -714px 0;
}

.sprite.is-seal {
	width: 600px;
	height: 600px;
	background-position: 0 -172px;
}

.sprite.is-cancel {
	width: 25px;
	height: 25px;
	background-position: -398px -51px;
}

.img {
	display: block;
	width: 100%;
	object-fit: contain;
}

.img.is-cover {
	height: 100%;
	object-fit: cover;
}

.layer {
	display: block;
	pointer-events: none;
}

.swiper {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.swiper > .grid {
	flex-wrap: nowrap;
	box-sizing: content-box;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	transform: translate3d(0px, 0, 0);
	transition-property: transform;
}

.swiper > .grid > .grid-item {
	position: relative;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	transition-property: transform;
}

.swiper > .sprite {
	display: none;
}

.swiper.is-fade > .grid > .grid-item {
	transition-timing-function: ease-out;
	pointer-events: none;
	transition-property: opacity;
}

.swiper.is-fade > .grid > .grid-item.is-active {
	pointer-events: auto;
}

.swiper.is-auto > .grid {
	align-items: flex-start;
	transition-property: transform, height;
}

.swiper.is-auto > .grid > .grid-item {
	height: auto;
}

.swiper-bullets {
	display: flex;
	align-items: center;
	justify-content: center;
}

.swiper-bullets > .bullet {
	display: block;
	width: 12px;
	height: 12px;
	margin: 0 4px;
	border-radius: 3px;
	background: transparent;
	border: 1px solid #1E6E44;
	cursor: pointer;
}

.swiper-bullets > .bullet.is-active {
	background-color: #F58634;
}

.swiper-arrow {
	position: absolute;
	z-index: 2;
	top: calc(50% - 1.5rem);
	width: 3rem;
	height: 3rem;
	border-radius: 1.5rem;
	background: #ddd;
	transition: opacity 0.25s;
	cursor: pointer;
}

.swiper-arrow > .sprite {
	position: absolute;
	top: calc(50% - 10px);
}

.swiper-arrow.is-prev {
	left: 0;
}

.swiper-arrow.is-prev > .sprite {
	left: calc(50% - 7px);
}

.swiper-arrow.is-next {
	right: 0;
}

.swiper-arrow.is-next > .sprite {
	right: calc(50% - 7px);
}

.swiper-arrow.is-disabled {
	opacity: 0.5;
}

@media (min-width: 1000px) {
	.swiper > .sprite {
		display: block;
		position: absolute;
		top: calc(50% - 16px);
		z-index: 9;
		overflow: hidden;
		text-indent: -99px;
		padding: 0;
		border-radius: 50%;
		cursor: pointer;
		transition: background-color .25s;
	}
	.swiper > .sprite:hover, .swiper > .sprite:active {
		background-color: rgba(0, 0, 0, 0.25);
	}
	.swiper > .sprite.is-prev, .swiper > .sprite.is-wprev {
		left: -40px;
	}
	.swiper > .sprite.is-next, .swiper > .sprite.is-wnext {
		right: -40px;
	}
}

.burger {
	display: flex;
	align-items: center;
	padding: 5px;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}

.burger > .text {
	margin-top: 2px;
	margin-right: 10px;
	text-transform: uppercase;
	color: #1E6E44;
	font-weight: 600;
	line-height: 1;
}

.burger > .layer {
	position: relative;
	display: block;
	width: 30px;
	height: 3px;
	background: #1E6E44;
	border-radius: 2px;
}

.burger > .layer::before, .burger > .layer::after {
	position: absolute;
	right: 0;
	left: 0;
	height: 3px;
	background: #1E6E44;
	content: '';
	border-radius: 2px;
}

.burger > .layer::before {
	top: -8px;
}

.burger > .layer::after {
	bottom: -8px;
}

.burger.is-closed > .layer {
	background: transparent;
}

.burger.is-closed > .layer::before, .burger.is-closed > .layer::after {
	position: absolute;
	right: 0;
	left: 0;
	height: 3px;
	background: #1E6E44;
}

.burger.is-closed > .layer::before {
	top: -8px;
}

.burger.is-closed > .layer::after {
	bottom: -8px;
}

.review {
	position: relative;
	overflow: hidden;
	padding: 20px;
	text-align: left;
	cursor: pointer;
	background: #fff;
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.15);
	transition: box-shadow .25s, background-color .25s;
}

.review > .wrapper {
	position: relative;
	overflow: hidden;
	height: 170px;
	margin-bottom: 25px;
	background: #000;
}

.review > .wrapper > .img {
	position: relative;
	z-index: 1;
	object-position: center top;
	opacity: .75;
	transition: opacity .25s, transform .25s;
	transform: scale3d(1, 1, 1);
	backface-visibility: hidden;
}

.review > .wrapper > .sprite {
	position: absolute;
	top: calc(50% - 15px);
	left: calc(50% - 15px);
	z-index: 2;
}

.review > .title {
	color: #505050 !important;
}

.review > .text.no-1 {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 10px;
}

.review > .text.no-3 {
	margin-top: 25px;
	color: #F58634;
	font-weight: 900;
}

.review:hover, .review:active {
	background-color: #eee;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.review:hover > .wrapper > .img, .review:active > .wrapper > .img {
	opacity: .75;
	transform: scale3d(1.1, 1.1, 1.1);
}

.review:active {
	background-color: #eee;
}

@media (min-width: 800px) {
	.review {
		padding: 25px;
	}
}

@media (min-width: 1200px) {
	.review {
		padding: 30px;
	}
}

.card {
	position: relative;
	overflow: hidden;
	padding: 25px 20px 80px;
	text-align: left;
	background: #fff;
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.15);
	transition: background-color .25s, box-shadow .25s;
}

.card > .wrapper {
	overflow: hidden;
	height: 220px;
	margin: 0 0 10px;
}

.card > .wrapper > .img {
	transform: scale3d(1, 1, 1);
	transition: transform .25s;
}

.card > .title {
	color: #505050;
	margin-bottom: 5px;
}

.card > .text.no-2 {
	position: absolute;
	right: 25px;
	bottom: 25px;
	font-weight: 600;
	color: #1E6E44;
}

.card > .link {
	position: absolute;
	left: 25px;
	bottom: 25px;
	font-weight: 600;
	color: #1E6E44;
}

.card > .link::after {
	top: -999px;
	right: -999px;
	bottom: -99px;
	left: -999px;
}

.card:hover, .card:active {
	background-color: #eee;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.card:hover > .wrapper > .img, .card:active > .wrapper > .img {
	transform: scale3d(1.1, 1.1, 1.1);
}

@media (min-width: 1200px) {
	.card {
		padding: 30px 25px 90px;
	}
}

.pages {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
}

.pages .sprite, .pages .link {
	transition: background-color .25s;
}

.pages .sprite:hover, .pages .sprite:active, .pages .link:hover, .pages .link:active {
	background-color: #F58634;
}

.pages > .sprite {
	overflow: hidden;
	text-indent: -999px;
	border-radius: 50%;
}

.pages > .grid {
	padding: 0 20px;
}

.pages > .grid > .grid-item {
	padding: 0 4px;
}

.pages > .grid > .grid-item > .link {
	width: 32px;
	color: #1E6E44;
	font-weight: 600;
	line-height: 28px;
	text-align: center;
	border: 2px solid;
	border-radius: 50%;
}

.is-upper {
	text-transform: uppercase;
}

.is-dark {
	background: #1E6E44;
	color: #f7f7f7;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
}

.is-dark .link {
	color: #fff;
}

.is-dark .title {
	color: #fff;
}

.is-dark .title.is-mini {
	color: #e6434b;
}

.is-dark .field {
	color: #fff;
	border-color: #fff;
}

.is-dark .field::-webkit-input-placeholder {
	color: #fff;
}

.is-dark .field::placeholder {
	color: #fff;
}

.is-light {
	color: #505050;
	background: #fff;
	text-shadow: none !important;
}

.is-light .title {
	color: #1E6E44;
}

.has-before {
	position: relative;
}

.has-before::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
}

.has-after {
	position: relative;
}

.has-after::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
}

.has-shadow {
	box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.175);
}

.header {
	position: relative;
	overflow: hidden;
	z-index: 3;
	background: #fff;
}

.header > .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 30px;
}

.header > .wrapper > .link {
	overflow: hidden;
	width: 270px;
	height: 85px;
	margin-bottom: 20px;
}

.header-info > .grid {
	align-items: center;
	margin: -4px -8px;
}

.header-info > .grid > .grid-item {
	padding: 2px 4px;
}

.header-info > .grid > .grid-item:nth-child(2) {
	display: none;
}

.header-info > .grid > .grid-item > .link, .header-info > .grid > .grid-item > .text {
	padding: 2px 4px;
}

.header-info > .grid > .grid-item > .link.has-sprite {
	overflow: hidden;
	width: 32px;
	height: 28px;
}

.header-info > .grid > .grid-item > .link.has-sprite > .sprite {
	margin-right: 4px;
}

.header-menu {
	display: none;
}

.header > .wrapper > .burger {
	margin: 15px 0 -5px;
}

@media (min-width: 600px) {
	.header-info > .grid > .grid-item:nth-child(2) {
		display: block;
	}
}

@media (min-width: 800px) {
	.header > .wrapper {
		position: relative;
		padding: 15px 20px;
	}
	.header-info {
		width: 100%;
	}
	.header > .wrapper > .burger {
		position: absolute;
		right: 20px;
		bottom: 17px;
	}
}

@media (min-width: 1000px) {
	.header {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		transform: translate3d(0, 0, 0);
		backface-visibility: hidden;
		transition: transform .25s;
	}
	.header > .wrapper {
		position: relative;
		align-items: flex-end;
		padding-bottom: 30px;
	}
	.header > .wrapper > .link {
		position: absolute;
		bottom: 30px;
		left: 20px;
		margin-bottom: 0;
		transform: scale3d(1, 1, 1);
		backface-visibility: hidden;
		transition: transform .25s, left .25s, bottom .25s;
	}
	.header-info {
		order: 1;
		width: 500px;
		padding-bottom: 15px;
		margin-bottom: 35px;
		border-bottom: 1px solid #505050;
	}
	.header-info > .grid > .grid-item:nth-child(2) {
		margin: 0 auto;
	}
	.header-menu {
		order: 2;
		display: block;
		width: 500px;
	}
	.header-menu > .grid {
		justify-content: space-between;
		margin: -4px -8px;
	}
	.header-menu > .grid > .grid-item {
		padding: 2px 4px;
	}
	.header-menu > .grid > .grid-item > .link {
		padding: 2px 4px;
		line-height: 22px;
	}
	.header-menu > .grid > .grid-item > .link.is-active {
		color: #1E6E44;
		font-weight: 600;
	}
	.header > .wrapper > .burger {
		display: none;
	}
	.header.is-scroll {
		transform: translate3d(0, -60px, 0);
	}
	.header.is-scroll > .wrapper > .link {
		bottom: -1px;
		left: -15px;
		transform: scale3d(0.75, 0.75, 0.75);
	}
}

@media (min-width: 1200px) {
	.header > .wrapper {
		padding: 15px 10px 30px;
	}
	.header > .wrapper > .link {
		left: 10px;
	}
	.header-info {
		width: 535px;
	}
	.header-menu {
		width: 535px;
	}
	.header.is-scroll > .wrapper > .link {
		left: -25px;
	}
}

@media (min-width: 1400px) {
	.header-info {
		width: 570px;
	}
	.header-menu {
		width: 570px;
	}
}

.location {
	position: relative;
	overflow: hidden;
	padding-top: 65px;
	background: #000;
}

.location > .wrapper {
	position: relative;
	z-index: 3;
	padding: 80px 30px;
}

.location > .wrapper > .title {
	margin-bottom: 25px;
}

.location > .wrapper > p:not(:last-child) {
	margin-bottom: 20px;
}

.location > .wrapper > .button {
	margin-top: 50px;
}

.location::after {
	z-index: 1;
	opacity: .75;
	background: url("../img/home-about-hd.jpg") center/cover;
}

.location > .layer {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
	background: url("../img/separator-02.png") no-repeat center bottom/100% 100%;
	height: 130px;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
}

.location.is-header {
	padding-top: 0;
}

.location.is-header > .wrapper {
	padding-top: 90px;
	padding-bottom: 60px;
}

@media (min-width: 800px) {
	.location {
		padding-top: 90px;
	}
	.location > .wrapper {
		padding: 130px 200px 130px 20px;
	}
	.location > .layer {
		height: 180px;
	}
	.location.is-header > .wrapper {
		padding-top: 110px;
		padding-bottom: 100px;
	}
}

@media (min-width: 1000px) {
	.location > .wrapper {
		padding-right: 300px;
	}
}

@media (min-width: 1200px) {
	.location {
		padding-top: 115px;
	}
	.location > .wrapper {
		padding: 180px 400px 180px 10px;
	}
	.location > .layer {
		height: 230px;
	}
	.location.is-header > .wrapper {
		padding-top: 150px;
		padding-bottom: 160px;
	}
}

@media (min-width: 1400px) {
	.location > .wrapper {
		padding-right: 500px;
	}
}

.values > .wrapper > .grid {
	margin: -10px;
}

.values > .wrapper > .grid > .grid-item {
	padding: 100px 10px 10px;
}

.values-item {
	position: relative;
	min-height: 100%;
	padding: 25px 20px;
	text-align: center;
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.25);
}

.values-item > .title {
	margin-bottom: 15px;
}

.values-item > .sprite {
	position: absolute;
}

.values-item > .sprite.is-mission {
	top: -100px;
	left: calc(50% - 36px);
}

.values-item > .sprite.is-vision {
	top: -80px;
	left: calc(50% - 47.5px);
}

.values-item > .sprite.is-values {
	top: -85px;
	left: calc(50% - 48px);
}

@media (min-width: 1000px) {
	.values > .wrapper > .grid > .grid-item {
		width: 33.33333%;
	}
}

@media (min-width: 1200px) {
	.values > .wrapper {
		padding-bottom: 100px;
	}
	.values > .wrapper > .grid {
		margin: -15px;
	}
	.values > .wrapper > .grid > .grid-item {
		padding: 100px 15px 15px;
	}
	.values-item {
		padding: 30px 25px;
	}
}

.archive {
	position: relative;
}

.archive > .wrapper > .title {
	margin-bottom: 40px;
}

.archive > .wrapper > .grid {
	overflow: visible !important;
	margin: -10px;
}

.archive > .wrapper > .grid > .grid-item {
	padding: 10px;
}

@media (min-width: 600px) {
	.archive > .wrapper > .grid > .grid-item {
		width: 50%;
	}
}

@media (min-width: 800px) {
	.archive > .wrapper {
		padding-top: 90px;
	}
}

@media (min-width: 1000px) {
	.archive > .wrapper > .grid > .grid-item {
		width: 33.33333%;
	}
}

@media (min-width: 1200px) {
	.archive > .wrapper {
		padding-top: 115px;
		padding-bottom: 95px;
	}
	.archive > .wrapper > .grid {
		margin: -15px;
	}
	.archive > .wrapper > .grid > .grid-item {
		padding: 15px;
	}
}

.article {
	position: relative;
	overflow: hidden;
}

.article > .wrapper {
	padding-top: 90px;
}

.article > .wrapper > .text {
	text-align: center;
	margin-bottom: 30px;
}

.article > .wrapper > .title {
	margin-bottom: 30px;
}

.article > .wrapper > .img {
	margin-bottom: 35px;
}

.article > .wrapper > p:not(:last-of-type) {
	margin-bottom: 25px;
}

@media (min-width: 800px) {
	.article > .wrapper {
		width: 600px;
		padding-top: 120px;
		padding-bottom: 100px;
	}
	.article > .wrapper > .text {
		margin-bottom: 40px;
	}
	.article > .wrapper > .title {
		margin-bottom: 35px;
	}
	.article > .wrapper > .img {
		margin-bottom: 45px;
	}
}

@media (min-width: 1200px) {
	.article > .wrapper {
		width: 700px;
		padding-top: 150px;
		padding-bottom: 135px;
	}
	.article > .wrapper > .text {
		margin-bottom: 50px;
	}
	.article > .wrapper > .title {
		margin-bottom: 40px;
		line-height: 45px;
	}
	.article > .wrapper > .img {
		margin-bottom: 55px;
	}
}

.footer {
	position: relative;
	overflow: hidden;
	z-index: 1;
	text-align: center;
}

.footer > .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 30px 10px;
}

.footer > .wrapper > .link {
	overflow: hidden;
	width: 270px;
}

.footer > .wrapper > .grid {
	justify-content: center;
	margin: 20px -15px -10px;
}

.footer > .wrapper > .grid > .grid-item {
	padding: 5px 10px;
}

.footer > .wrapper > .grid > .grid-item > .link {
	padding: 5px;
	font-weight: 600;
	text-transform: uppercase;
}

.footer > .wrapper > .grid.no-1 > .grid-item > .link {
	overflow: hidden;
	width: 60px;
	height: 60px;
}

.footer > .wrapper > .grid.no-1 > .grid-item > .link > .sprite {
	margin-right: 10px;
}

.footer > .wrapper > .text {
	margin-top: 30px;
	font-size: 13px;
	line-height: 18px;
}

@media (min-width: 600px) {
	.footer > .wrapper {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.footer > .wrapper > .grid.no-1 {
		margin: -10px -15px -10px auto;
	}
	.footer > .wrapper > .grid.no-2 {
		width: calc(100% + 30px);
	}
	.footer > .wrapper > .text {
		width: 100%;
	}
}

@media (min-width: 800px) {
	.footer > .wrapper {
		padding: 60px 20px 10px;
	}
	.footer > .wrapper > .text {
		margin-top: 30px;
	}
}

@media (min-width: 1000px) {
	.footer > .wrapper > .link {
		order: 1;
	}
	.footer > .wrapper > .grid.no-1 {
		order: 3;
		margin-left: -15px;
	}
	.footer > .wrapper > .grid.no-2 {
		order: 2;
		width: calc(100% - 420px);
		margin: -10px auto;
		justify-content: space-evenly;
	}
	.footer > .wrapper > .text {
		order: 4;
	}
}

@media (min-width: 1200px) {
	.footer > .wrapper {
		padding: 70px 10px 10px;
	}
	.footer > .wrapper > .text {
		margin-top: 40px;
	}
}

.mobile {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9;
	width: auto;
	height: auto;
	border: none;
	background: rgba(22, 78, 49, 0.9);
	opacity: 0;
	pointer-events: none;
	transform: scale3d(1.25, 1.25, 1.25);
	backface-visibility: hidden;
	will-change: transform;
	transition: opacity .25s, transform .25s;
}

.mobile > .sprite {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	opacity: .1;
	pointer-events: none;
	transform: translate(-50%, -50%);
}

body.is-mobile .mobile {
	opacity: 1;
	pointer-events: auto;
	transform: scale3d(1, 1, 1);
}

.mobile > .grid {
	position: relative;
	z-index: 2;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: auto;
}

.mobile > .grid > .grid-item {
	width: auto;
	padding: 10px;
}

.mobile > .grid > .grid-item > .link {
	position: relative;
	padding: 10px;
	color: #F58634;
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
}

.mobile > .grid > .grid-item > .link::before, .mobile > .grid > .grid-item > .link::after {
	content: '';
	position: absolute;
	right: 10px;
	left: 10px;
	height: 2px;
	opacity: 0;
	background: #fff;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	transition: transform .25s, opacity .25s;
	pointer-events: none;
}

.mobile > .grid > .grid-item > .link::before {
	top: -5px;
}

.mobile > .grid > .grid-item > .link::after {
	bottom: -5px;
}

.mobile > .grid > .grid-item > .link.is-active {
	font-weight: 700;
}

.mobile > .grid > .grid-item > .link:hover {
	color: #fff;
}

.mobile > .grid > .grid-item > .link:hover::before, .mobile > .grid > .grid-item > .link:hover::after {
	opacity: 1;
}

.mobile > .grid > .grid-item > .link:hover::before {
	transform: translate3d(0, 5px, 0);
}

.mobile > .grid > .grid-item > .link:hover::after {
	transform: translate3d(0, -5px, 0);
}

.mobile > .burger {
	margin-top: auto;
	padding-right: 0;
}

.mobile > .burger > .text {
	color: #fff;
	margin-right: 15px;
}

.mobile > .burger > .layer::before, .mobile > .burger > .layer::after {
	background: #fff;
}

.mobile > .burger > .layer::before {
	transform: rotate(45deg) translateY(11px);
}

.mobile > .burger > .layer::after {
	transform: rotate(-45deg) translateY(-11px);
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 8;
	pointer-events: none;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: opacity .25s;
}

body.is-popup .overlay {
	opacity: 1;
	pointer-events: auto;
}

.popup {
	display: block;
	position: fixed;
	overflow: auto;
	top: 50%;
	left: 50%;
	z-index: 9;
	width: calc(100% - 60px);
	max-height: 100vh;
	padding: 60px 30px 30px;
	background: #fff;
	border: 0;
	pointer-events: none;
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
	transform: translate(-50%, -50%);
	opacity: 0;
	outline: 0;
	transition: opacity .25s;
}

.popup > .wrapper {
	position: relative;
	overflow: hidden;
	height: 330px;
	margin: 0 0 15px;
	background: #000;
}

.popup > .wrapper > .img {
	position: relative;
	z-index: 1;
	opacity: .75;
	transform: scale3d(1, 1, 1);
	backface-visibility: hidden;
	transition: opacity .25s, transform .25s;
}

.popup > .wrapper > .sprite {
	position: absolute;
	top: calc(50% - 38px);
	left: calc(50% - 38px);
	z-index: 2;
}

.popup > .wrapper:hover > .img, .popup > .wrapper:active > .img {
	transform: scale3d(1.1, 1.1, 1.1);
}

.popup > .wrapper:active > .img {
	opacity: .5;
}

.popup > .title {
	color: #505050;
	font-weight: 900;
}

.popup > .text.no-1 {
	margin-bottom: 10px;
	font-size: 12px;
}

.popup > .text.no-2 {
	margin-bottom: 25px;
}

.popup > .text.no-3 {
	color: #F58634;
	font-weight: 600;
}

.popup > .sprite {
	position: absolute;
	top: 15px;
	right: 15px;
}

body.is-popup .popup {
	opacity: 1;
	pointer-events: auto;
}

@media (min-width: 800px) {
	.popup {
		width: 670px;
		padding: 45px 80px;
	}
	.popup > .wrapper {
		height: 380px;
	}
	.popup > .sprite {
		top: 20px;
		right: 20px;
	}
}

@media (min-width: 1200px) {
	.popup {
		width: 970px;
		padding: 50px 100px;
	}
	.popup > .wrapper {
		height: 430px;
	}
	.popup > .sprite {
		top: 25px;
		right: 25px;
	}
}

@media (min-width: 600px){          
  .product-title{
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      OVERFLOW: HIDDEN;
      HEIGHT: 65PX;
      width: 55%;
  }
}