.contact-header {
	margin-bottom: 40px;
}

.contact-header > .title {
	margin-bottom: 20px;
}

.contact-h-form {
	position: relative;
}

.contact-h-form > .grid {
	position: relative;
	z-index: 1;
	margin: -10px;
	opacity: 1;
	transition: opacity .25s;
}

.contact-h-form > .grid > .grid-item {
	position: relative;
	padding: 10px;
}

.contact-h-form > .grid > .grid-item > .text {
	margin-bottom: 10px;
}

.contact-h-form > .grid > .grid-item > textarea {
	height: 110px;
	min-height: 110px;
	max-height: 110px;
	min-width: 100%;
	max-width: 100%;
}

.contact-h-form > .grid > .grid-item > label.error {
	color: #fff;
	top: 42px;
	right: 10px;
}

.contact-h-form > .grid > .grid-item > .button {
	width: 100%;
}

.contact-h-form > .grid > .grid-item > .wrapper {
	height: 52px;
	padding: 15px 20px;
	background: #eee;
}

.contact-h-form > .text {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	transform: translateY(-50%);
	opacity: 0;
	transition: opacity .25s;
}

.contact-h-form.is-send > .grid {
	opacity: 0;
	pointer-events: none;
}

.contact-h-form.is-send > .text {
	opacity: 1;
	text-align: center;
}

.contact-details > .grid {
	margin: -10px;
}

.contact-details > .grid > .grid-item {
	padding: 10px;
}

.contact--detail > .title {
	margin-bottom: 15px;
	color: #505050;
}

.contact--detail > .text {
	margin-bottom: 5px;
	line-height: 24px;
}

.contact--detail > .text:last-of-type {
	margin-bottom: 0;
}

.contact-sellers {
	margin-top: 40px;
}

.contact-sellers > .title {
	margin-bottom: 30px;
}

.contact-sellers > .grid {
	margin: -10px;
}

.contact-sellers > .grid > .grid-item {
	padding: 10px;
}

.contact--seller {
	position: relative;
	padding: 20px 64px 20px 20px;
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.25);
}

.contact--seller > .title {
	margin-bottom: 10px;
}

.contact--seller > .text {
	line-height: 24px;
}

.contact--seller > .sprite {
	position: absolute;
	top: calc(50% - 12px);
	right: 20px;
}

@media (min-width: 500px) {
	.contact-details > .grid > .grid-item {
		width: 50%;
	}
}

@media (min-width: 600px) {
	.contact-h-form > .grid > .grid-item.is-half {
		width: 50%;
	}
	.contact-sellers > .grid > .grid-item {
		width: 50%;
	}
}

@media (min-width: 800px) {
	.contact > .wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	.contact-header {
		width: 50%;
		padding-right: 10px;
		margin-bottom: 0;
	}
	.contact-details {
		width: 50%;
		padding-left: 40px;
	}
	.contact-details > .grid > .grid-item {
		width: 100%;
	}
	.contact-sellers {
		width: 100%;
		margin-top: 45px;
	}
}

@media (min-width: 1000px) {
	.contact-sellers > .grid > .grid-item {
		width: 33.33333%;
	}
}

@media (min-width: 1200px) {
	.contact-header {
		padding-right: 15px;
	}
	.contact-details {
		padding-left: 80px;
	}
	.contact-sellers {
		margin-top: 50px;
	}
	.contact-sellers > .grid {
		margin: -15px;
	}
	.contact-sellers > .grid > .grid-item {
		padding: 15px;
	}
	.contact--seller {
		padding: 20px 69px 20px 25px;
	}
}

@media (min-width: 1400px) {
	.contact-sellers > .grid > .grid-item {
		width: 25%;
	}
}
