.welcome {
	position: relative;
	overflow: hidden;
	padding-bottom: 65px;
	text-align: center;
	background: #000;
}

.welcome > .wrapper {
	position: relative;
	z-index: 3;
}

.welcome > .wrapper > .title {
	margin-bottom: 20px;
}

.welcome > .wrapper > .text {
	margin-bottom: 50px;
}

.welcome > .wrapper > .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.welcome > .wrapper > .wrapper > .button {
	width: 270px;
}

.welcome > .wrapper > .wrapper > .button:first-child {
	margin-bottom: 20px;
}

.welcome > .layer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	background: url("../img/separator-01.png") no-repeat center bottom/100%;
	height: 130px;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
}

@media (min-width: 600px) {
	.welcome {
		text-align: left;
	}
	.welcome > .wrapper > .wrapper {
		flex-direction: row;
	}
	.welcome > .wrapper > .wrapper > .button:first-child {
		margin: 0 30px 0 0;
	}
}

@media (min-width: 800px) {
	.welcome {
		padding-bottom: 90px;
	}
	.welcome > .wrapper {
		padding-right: 200px;
	}
	.welcome > .layer {
		height: 180px;
	}
}

@media (min-width: 1000px) {
	.welcome {
		display: flex;
		align-items: center;
		min-height: 100vh;
		padding-top: 140px;
	}
	.welcome > .wrapper {
		padding-right: 300px;
	}
	.welcome::after {
		top: 85px;
	}
}

@media (min-width: 1200px) {
	.welcome {
		padding-bottom: 110px;
	}
	.welcome > .wrapper {
		padding-right: 400px;
	}
	.welcome > .layer {
		height: 230px;
	}
}

@media (min-width: 1400px) {
	.welcome > .wrapper {
		padding-right: 500px;
	}
}

.featured {
	position: relative;
	z-index: 9;
}

.featured > .wrapper {
	position: relative;
}

.featured-header {
	margin-bottom: 30px;
}

.featured-header > .title {
	margin-bottom: 30px;
}

.featured-header > p:not(:last-of-type) {
	margin-bottom: 20px;
}

.featured-header > .button {
	margin-top: 30px;
}

.featured-product {
	position: relative;
	overflow: hidden;
	padding: 40px;
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.15);
	transition: background-color .25s, box-shadow .25s;
}

.featured-product:hover, .featured-product:active {
	background-color: #164e31;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.featured-product > .title {
	margin-bottom: 15px;
}

.featured-product > .text {
	margin-bottom: 35px;
}

.featured-product > .link {
	position: static;
	margin-bottom: 5px;
	font-weight: 600;
}

.featured-product > .link::after {
	pointer-events: auto;
}

.featured-product > .img {
	height: 220px;
}

.featured > .wrapper > .sprite {
	position: absolute;
	right: 60%;
	bottom: -250px;
	z-index: 1;
	transform: scale(0.7, 0.7);
}

@media (min-width: 800px) {
	.featured-header > .button {
		margin-top: 40px;
	}
	.featured-product {
		padding: 45px;
	}
	.featured > .wrapper > .sprite {
		right: 85%;
		bottom: -225px;
		transform: scale(0.8, 0.8);
	}
}

@media (min-width: 1000px) {
	.featured > .wrapper {
		display: flex;
	}
	.featured-header {
		width: 50%;
		padding: 45px 30px 0 0;
	}
	.featured-product {
		width: 50%;
	}
}

@media (min-width: 1200px) {
	.featured-header > .button {
		margin-top: 50px;
	}
	.featured-product {
		padding: 50px;
	}
	.featured > .wrapper > .sprite {
		right: 101%;
		bottom: -300px;
		transform: scale(0.9, 0.9);
	}
}

.contact {
	position: relative;
	z-index: 9;
}

.contact-header {
	text-align: center;
	margin-bottom: 35px;
}

.contact-header > .title {
	margin-bottom: 20px;
}

.contact-content {
	margin-bottom: 35px;
}

.contact-content > .grid {
	margin: -10px;
}

.contact-content > .grid > .grid-item {
	padding: 10px;
}

.contact-content > .grid > .grid-item > .title {
	margin-bottom: 15px;
}

.contact-content > .grid > .grid-item > .text:not(:last-of-type) {
	margin-bottom: 8px;
}

.contact-content > .button {
	width: 270px;
	margin-top: 35px;
}

.contact-buttons > .grid {
	margin: -10px;
}

.contact-buttons > .grid > .grid-item {
	padding: 10px;
}

.contact-buttons > .grid > .grid-item > .button {
	width: 100%;
	padding: 25px;
}

.contact-buttons > .grid > .grid-item > .button:hover, .contact-buttons > .grid > .grid-item > .button:active, .contact-buttons > .grid > .grid-item > .button.is-active {
	color: #fff;
	background-color: #164e31;
}

.contact-buttons > .grid > .grid-item > .button > .sprite {
	margin-left: auto;
}

.contact > .layer {
	position: absolute;
	right: 0;
	bottom: -130px;
	left: 0;
	z-index: 2;
	background: url("../img/separator-03.png") no-repeat center bottom/100% 100%;
	height: 130px;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
}

@media (min-width: 600px) {
	.contact-content > .grid > .grid-item {
		width: 50%;
	}
	.contact-buttons > .grid > .grid-item {
		width: 50%;
	}
}

@media (min-width: 800px) {
	.contact-header {
		margin-bottom: 45px;
	}
	.contact-content {
		margin-bottom: 45px;
	}
	.contact-content > .button {
		margin-top: 40px;
	}
	.contact > .layer {
		bottom: -180px;
		height: 180px;
	}
}

@media (min-width: 1000px) {
	.contact > .wrapper {
		display: flex;
		flex-wrap: wrap;
	}
	.contact-header {
		width: 100%;
		max-width: 770px;
		margin-right: auto;
		margin-left: auto;
	}
	.contact-content {
		width: 40%;
		padding-right: 40px;
		margin-bottom: 0;
	}
	.contact-content > .grid > .grid-item {
		width: 100%;
	}
	.contact-buttons {
		width: 60%;
	}
}

@media (min-width: 1200px) {
	.contact-header {
		margin-bottom: 55px;
	}
	.contact-content {
		width: 45%;
		padding-right: 60px;
	}
	.contact-content > .grid {
		margin: -15px;
	}
	.contact-content > .grid > .grid-item {
		width: 50%;
		padding: 15px;
	}
	.contact-content > .button {
		margin-top: 45px;
	}
	.contact-buttons {
		width: 55%;
	}
	.contact-buttons > .grid {
		margin: -15px;
	}
	.contact-buttons > .grid > .grid-item {
		padding: 15px;
	}
	.contact > .layer {
		bottom: -230px;
		height: 230px;
	}
}

@media (min-width: 1400px) {
	.contact-content {
		width: 50%;
		padding-right: 80px;
	}
	.contact-buttons {
		width: 50%;
	}
}

.reviews {
	position: relative;
	padding-top: 80px;
	text-align: center;
}

.reviews > .wrapper > .title {
	margin-bottom: 25px;
}

.reviews > .wrapper > .text {
	margin-bottom: 40px;
}

.reviews > .wrapper > .swiper {
	overflow: visible;
	margin: 0 -10px 40px;
}

.reviews > .wrapper > .swiper > .grid > .grid-item {
	padding: 0 10px;
}

.reviews .swiper-bullets {
	margin-top: 25px;
}

.reviews .swiper-bullets > .bullet {
	border-color: #fff;
}

@media (min-width: 800px) {
	.reviews > .wrapper {
		padding-top: 100px;
	}
	.reviews > .wrapper > .text {
		margin-bottom: 50px;
	}
	.reviews > .wrapper > .swiper > .grid > .grid-item {
		opacity: 0;
		transition: opacity .25s;
	}
	.reviews > .wrapper > .swiper > .grid > .grid-item.is-visible {
		opacity: 1;
	}
}

@media (min-width: 1200px) {
	.reviews > .wrapper {
		padding-top: 140px;
	}
	.reviews > .wrapper > .text {
		margin-bottom: 60px;
	}
	.reviews > .wrapper > .swiper {
		margin: 0 -15px 40px;
	}
	.reviews > .wrapper > .swiper > .grid > .grid-item {
		padding: 0 15px;
	}
}

.latest {
	position: relative;
	text-align: center;
}

.latest > .wrapper > .title {
	margin-bottom: 20px;
}

.latest > .wrapper > .text {
	margin-bottom: 35px;
}

.latest .swiper {
	overflow: visible;
	margin: 0 -10px 30px;
}

.latest .swiper > .grid > .grid-item {
	padding: 0 10px;
}

.latest .swiper-bullets {
	margin-top: 25px;
}

@media (min-width: 800px) {
	.latest > .wrapper > .text {
		margin-bottom: 45px;
	}
	.latest .swiper {
		margin-bottom: 35px;
	}
	.latest .swiper > .grid > .grid-item {
		opacity: 0;
		transition: opacity .25s;
	}
	.latest .swiper > .grid > .grid-item.is-visible {
		opacity: 1;
	}
}

@media (min-width: 1200px) {
	.latest > .wrapper > .text {
		margin-bottom: 55px;
	}
	.latest .swiper {
		margin: 0 -15px 40px;
	}
	.latest .swiper > .grid > .grid-item {
		padding: 0 15px;
	}
}
