.privacy {
	position: relative;
	overflow: hidden;
}

.privacy-header {
	margin-bottom: 48px;
}

.privacy-header > .heading {
	margin-bottom: 24px;
}

.privacy-h-links > .grid {
	margin: -5px -10px;
}

.privacy-h-links > .grid > .grid-item {
	padding: 5px 10px;
}

.privacy-h-links > .grid > .grid-item > .link {
	font-size: 14px;
	line-height: 18px;
	transition: color .25s, font-weight .25s;
}

.privacy-h-links > .grid > .grid-item > .link.is-active {
	font-weight: 700;
}

.privacy-section > .title {
	margin-bottom: 5px;
}

.privacy-section > .title:not(:first-child) {
	margin-top: 24px;
}

@media (min-width: 800px) {
	.privacy {
		padding-top: 87px;
	}
	.privacy-h-links > .grid {
		margin: -5px -20px;
	}
	.privacy-h-links > .grid > .grid-item {
		padding: 5px 20px;
	}
}

@media (min-width: 800px) {
	.privacy-h-links > .grid {
		margin: -5px -30px;
	}
	.privacy-h-links > .grid > .grid-item {
		padding: 5px 30px;
	}
}
