.products > .wrapper > .title {
	margin-bottom: 20px;
}

.products > .wrapper > .text {
	margin-bottom: 40px;
}

.products > .wrapper > .grid {
	flex-direction: column;
	margin: -10px;
}

.products > .wrapper > .grid > .grid-item {
	padding: 10px;
}

.products > .wrapper > .grid > .grid-item > .button {
	width: 100%;
	padding: 15px;
}

@media (min-width: 600px) {
	.products > .wrapper > .grid {
		flex-direction: row;
	}
	.products > .wrapper > .grid > .grid-item {
		width: 50%;
	}
	.products > .wrapper > .grid > .grid-item > .button {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

@media (min-width: 800px) {
	.products > .wrapper > .text {
		margin-bottom: 45px;
	}
}

@media (min-width: 1200px) {
	.products > .wrapper {
		padding-bottom: 60px;
	}
	.products > .wrapper > .text {
		margin-bottom: 50px;
	}
	.products > .wrapper > .grid {
		margin: -15px;
	}
	.products > .wrapper > .grid > .grid-item {
		width: 25%;
		padding: 15px;
	}
}

.services > .wrapper > .title {
	margin-bottom: 20px;
}

.services > .wrapper > .grid {
	margin: -10px;
}

.services > .wrapper > .grid > .grid-item {
	padding: 10px;
}

.services-item > .title {
	margin-bottom: 15px;
	color: #505050;
}

.services-item > .text {
	margin-bottom: 30px;
}

@media (min-width: 800px) {
	.services > .wrapper {
		padding-bottom: 90px;
	}
	.services > .wrapper > .grid > .grid-item {
		width: 50%;
	}
	.services-item > .text {
		margin-bottom: 35px;
	}
}

@media (min-width: 1200px) {
	.services > .wrapper {
		padding-bottom: 115px;
	}
	.services > .wrapper > .grid {
		margin: -15px;
	}
	.services > .wrapper > .grid > .grid-item {
		padding: 15px;
	}
	.services-item > .title {
		font-size: 24px;
		line-height: 32px;
	}
	.services-item > .text {
		margin-bottom: 40px;
	}
}

.category > .wrapper > .title.is-large {
	color: #505050;
	margin-bottom: 20px;
}

.category > .wrapper > .title.is-medium {
	margin-bottom: 25px;
	font-weight: 500;
}

.category > .wrapper > .title.is-medium:first-of-type {
	color: #505050;
}

.category > .wrapper > .text {
	margin-bottom: 30px;
}

.category > .wrapper > .grid {
	margin: -10px;
}

.category > .wrapper > .grid:not(:last-of-type) {
	margin-bottom: 35px;
}

.category > .wrapper > .grid > .grid-item {
	padding: 10px;
}

.category-item {
	position: relative;
	overflow: hidden;
	min-height: 100%;
	padding: 20px 25px;
	background: #fff;
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.15);
}

.category-item > .title {
	margin-bottom: 10px;
	color: #F58634;
	font-weight: 900;
}

.category-model {
	position: relative;
	overflow: hidden;
	min-height: 100%;
	padding: 20px 25px;
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.25);
	transition: background-color .25s, box-shadow .25s;
}

.category-model:hover, .category-model:active {
	background-color: #164e31;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.category-model > .img {
	height: 200px;
	margin-bottom: 15px;
	background: #fff;
}

.category-model > .title {
	margin-bottom: 15px;
	font-weight: 900;
}

.category-model > .text {
	margin-bottom: 15px;
}

.category-model > .link {
	position: static;
	color: #F58634;
	font-weight: 600;
}

.category-model > .link::after {
	pointer-events: auto;
}

@media (min-width: 600px) {
	.category-model {
		padding-right: 50%;
	}
	.category-model > .img {
		position: absolute;
		height: calc(100% - 40px);
		width: calc(50% - 50px);
		top: 20px;
		right: 25px;
		bottom: 20px;
		margin-bottom: 0;
	}
	.category-model > .title {
		margin-bottom: 15px;
	}
	.category-model > .text {
		margin-bottom: 15px;
	}
	.category-model > .link {
		position: static;
		color: #F58634;
		font-weight: 600;
	}
	.category-model > .link::after {
		pointer-events: auto;
	}
}

@media (min-width: 800px) {
	.category > .wrapper > .grid:not(:last-of-type) {
		margin-bottom: 40px;
	}
}

@media (min-width: 1000px) {
	.category > .wrapper > .grid > .grid-item {
		width: 50%;
	}
}

@media (min-width: 1200px) {
	.category > .wrapper {
		padding-bottom: 100px;
	}
	.category > .wrapper > .grid {
		margin: -15px;
	}
	.category > .wrapper > .grid:not(:last-of-type) {
		margin-bottom: 45px;
	}
	.category > .wrapper > .grid > .grid-item {
		padding: 15px;
	}
	.category-item {
		padding: 25px 30px;
	}
	.category-model {
		padding: 25px 30px;
	}
	.category-model > .img {
		position: absolute;
		height: calc(100% - 50px);
		width: calc(50% - 60px);
		top: 25px;
		right: 30px;
		bottom: 25px;
	}
}

.product-images {
	margin: 0 0 50px;
}

.product-images > .swiper:nth-child(1) {
	background: #fff;
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.15);
	margin-bottom: 20px;
}

.product-images > .swiper:nth-child(1) > .grid > .grid-item > .link > .img {
	height: 360px;
	padding: 20px;
}

.product-images > .swiper:nth-child(2) {
	overflow: visible;
	margin: 0 -10px;
}

.product-images > .swiper:nth-child(2) > .grid > .grid-item {
	padding: 0 10px;
	opacity: 0;
	transition-property: transform, opacity;
}

.product-images > .swiper:nth-child(2) > .grid > .grid-item.is-visible {
	opacity: 1;
}

.product-images > .swiper:nth-child(2) > .grid > .grid-item > .link {
	height: 70px;
	padding: 5px 10px;
	background: #fff;
	border: 2px solid #fff;
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.15);
	transition: border-color .25s, box-shadow .25s;
}

.product-images > .swiper:nth-child(2) > .grid > .grid-item > .link.is-active {
	border-color: #F58634;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.product-images > .swiper:nth-child(2) > .grid > .grid-item > .link > .img {
	height: 100%;
}

.product-content > .title.is-medium {
	margin-bottom: 20px;
}

.product-content > .title.is-xsmall {
	margin-bottom: 15px;
	color: #F58634;
}

.product-content > .text {
	margin-bottom: 40px;
}

.product-c-contact {
	position: relative;
	overflow: hidden;
	width: 270px;
	height: 52px;
	padding: 0;
	text-align: center;
	transition: width .5s, height .5s, padding .5s;
}

.product-c-contact > .title {
	position: relative;
	z-index: 1;
	margin-bottom: 20px;
	font-weight: 300;
	opacity: 0;
	transition: opacity .25s;
}

.product-c-contact > .grid {
	position: relative;
	z-index: 1;
	flex-direction: column;
	align-items: center;
	margin: -5px;
	opacity: 0;
	transition: opacity .25s;
}

.product-c-contact > .grid > .grid-item {
	position: relative;
	width: auto;
	padding: 5px;
}

.product-c-contact > .grid > .grid-item > .field {
	width: 270px;
	height: 60px;
}

.product-c-contact > .grid > .grid-item > .field.valid, .product-c-contact > .grid > .grid-item > .field.error, .product-c-contact > .grid > .grid-item > .field:focus {
	background-color: rgba(0, 0, 0, 0.25);
}

.product-c-contact > .grid > .grid-item > .button {
	width: 270px;
}

.product-c-contact > .grid > .grid-item > label.error {
	top: 5px;
	right: 5px;
}

.product-c-contact .button[type="button"] {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 9;
	width: 270px;
	opacity: 1;
	transform: translate(-50%, -50%);
	transition: opacity .25s;
}

.product-c-contact > .text {
	position: absolute;
	top: 50%;
	right: 20px;
	left: 20px;
	z-index: 8;
	opacity: 0;
	transform: translate(0, -50%);
	transition: opacity .25s;
	pointer-events: none;
}

.product-c-contact.is-open {
	width: 370px;
	height: 362px;
	padding: 30px;
}

.product-c-contact.is-open > .title {
	opacity: 1;
}

.product-c-contact.is-open > .grid {
	opacity: 1;
}

.product-c-contact.is-open .button[type="button"]{
	opacity: 0;
	pointer-events: none;
}

.product-c-contact.is-send {
	width: 370px;
	height: 102px;
}

.product-c-contact.is-send > .title {
	opacity: 0;
}

.product-c-contact.is-send > .grid {
	opacity: 0;
}

.product-c-contact.is-send .button[type="button"] {
	opacity: 0;
	pointer-events: none;
}

.product-c-contact.is-send > .text {
	opacity: 1;
}

.product-sections {
	margin-top: 50px;
}

.product-sections > .title {
	margin-bottom: 20px;
}

.product-sections > .grid {
	margin: -10px -20px;
}

.product-sections > .grid > .grid-item {
	padding: 10px 20px;
}

.product--section > .title {
	margin-bottom: 15px;
	color: #F58634;
}

@media (min-width: 800px) {
	.product-sections {
		margin-top: 55px;
	}
	.product-sections > .grid > .grid-item {
		width: 50%;
	}
}

@media (min-width: 1000px) {
	.product > .wrapper {
		display: flex;
		flex-wrap: wrap;
	}
	.product-images {
		width: 50%;
		padding-right: 10px;
		margin: 0;
	}
	.product-content {
		width: 50%;
		padding-left: 10px;
	}
	.product-sections {
		width: 100%;
	}
}

@media (min-width: 1200px) {
	.product-images {
		padding-right: 15px;
	}
	.product-content {
		padding-left: 15px;
	}
	.product-sections {
		margin-top: 60px;
	}
	.product-sections > .grid {
		margin: -15px -30px;
	}
	.product-sections > .grid > .grid-item {
		padding: 15px 30px;
	}
	.product-sections > .grid > .grid-item:nth-child(odd) {
		width: 60%;
	}
	.product-sections > .grid > .grid-item:nth-child(even) {
		width: 40%;
	}
}
