footer.footer.is-dark
  div.wrapper.is-centered
    a.link.has-sprite(href="inicio.html") #[span.sprite.is-wlogo] VitaTermo
    ul.grid.no-1.is-auto
      li.grid-item
        a.link.has-sprite(href="#") #[span.sprite.is-wface] Facebook
      li.grid-item
        a.link.has-sprite(href="#") #[span.sprite.is-winsta] Instragram
    ul.grid.no-2.is-auto
      li.grid-item
        a.link(href="contato.html") Contato
      li.grid-item
        a.link(href="produtos.html") Produtos
      li.grid-item
        a.link(href="noticias.html") Notícias
    small.text Copyright © 2021 Vita Termo. Todos os direitos reservados. | Design e Desenvolvimento: 14BIS Agência de Marketing.