header.header.has-shadow
  div.wrapper.is-centered
    a.link.has-sprite(href="inicio.html") #[span.sprite.is-logo] VitaTermo
    nav.header-menu
      ul.grid.is-auto
        li.grid-item
          a.link.is-active(href="inicio.html") Início
        li.grid-item
          a.link(href="produtos.html") Produtos
        li.grid-item
          a.link(href="quem-somos.html") Quem Somos
        li.grid-item
          a.link(href="contato.html") Contato
    div.header-info
      ul.grid.is-auto
        li.grid-item
          span.text +55 (45) 99999-9999
        li.grid-item
          span.text vitatermo@vitatermo.com.br
        li.grid-item
          a.link.has-sprite(href="#") #[span.sprite.is-face] Facebook
        li.grid-item
          a.link.has-sprite(href="#") #[span.sprite.is-insta] Instagram
    button.burger(id="mobile_open", type="button")
      span.text Menu
      span.layer