doctype html
html(lang="pt-BR")
  head
    block title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="assets/css/base.css")
    block styles
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap")
  body
    include ../includes/header.pug
    main.wrapper
      block content
      span.layer
    include ../includes/footer.pug
    include ../includes/mobile.pug
    block scripts
    div.overlay
    block popups