dialog.mobile.is-dark(id="mobile", tab-index="-1")
  ul.grid
    li.grid-item
      a.link(href="inicio.html") Início
    li.grid-item
      a.link(href="produtos.html") Produtos
    li.grid-item
      a.link(href="quem-somos.html") Quem Somos
    li.grid-item
      a.link(href="depoimentos.html") Depoimentos
    li.grid-item
      a.link(href="noticias.html") Notícias
    li.grid-item
      a.link(href="contato.html") Contato
  button.burger.is-closed(id="mobile_close", type="button")
    span.text Fechar
    span.layer
  span.sprite.is-seal